-
    var teamMembers = [
        {
            name: "Aditi Kallai",
            role: "Lab",
            desc: "I am an aspiring mature grown up coming from India. Right now in Stockholm getting a master’s degree in biomedicine from Karolinska Institutet. Something that  Stockholm has taught me 'Life happens but fika always helps.' Joined iGEM to fulfil the dream to feel like the scientists who made X-men but I will call my transformed bacteria X-bac.",
            image: "aditi",
        },
        {
            name: "Astha Kaul",
            role: "Lab & HP",
            desc: "I grew up in Lund, a small town in south of Sweden but moved to Stockholm to pursue the medical program at KI. I love the problem solving aspect of research and am fascinated by the many ways that science can be communicated to have an i mpact. Combine this with a fun, international environment of like minded people and you have iGEM! <3.",
            image: "astha",
        },
        {
            name: "Athina Eleftheraki",
            role: "Team Leader",
            desc: "I come from a village in Southern Greece. I joined iGEM because I just wanted to accept the challenge in both scientific and personal aspects. I love watching people becoming a team and working in order to accomplish the same goal; good science! Almost forgot, I love SUMMER!!!",
            image: "athina",
        },
        {
            name: "Corinna Mayer",
            role: "Finance",
            desc: "Hi, I come from Vienna, Austria, and I am studying Biomedicine at KI. I think great research needs innovative ideas, background knowledge and financial support. iGEM combines all of these factors which fascinates me. What I experienced so far in the iGEM Stockholm2020 team are creative, hard-working and warm-hearted colleagues. <3.",
            image: "corinna",
        },
        {
            name: "Hanna Martensson",
            role: "Lab",
            desc: "I'm born and raised in Stockholm and currently study chemical engineering at KTH. I love research and applied to iGEM so I could be involved with research and meet like-minded students from all over the world. I'm a competitive person and very excited to work with this year's team to improve our skills for the future!",
            image: "hanna",
        },
        {
            name: "Julie Cordier",
            role: "Lab",
            desc: "I come from a small town in north-eastern France. Back there I studied chemistry, but I came to Sweden to study medical biotechnology. I joined iGEM because I wanted to work on a fun scientific project and meet people from different backgrounds. Besides science, I love books, dancing and travelling :D",
            image: "julie",
        },
        {
            name: "Layung Wikanthi",
            role: "HP",
            desc: "I was born in Indonesia and I came to Sweden to pursue my Master degree in Biomedicine. I am always excited about research activities and have joined some research competition beforehand. Aside from doing interesting work in IGEM, I also want to make a friend and have fun.",
            image: "layung",
        },
        {
            name: "Richard Brunsell",
            role: "Lab",
            desc: "I am from Stockholm and I am currently studying biotechnology at KTH. I applied to iGEM because I wanted to work with others to solve problems with synthetic biology, from the very start of a project to completion. I'm excited to see what this year's iGEM projects will bring!",
            image: "richard",
        },
        {
            name: "Sofia Klangby",
            role: "Media",
            desc: "I am an enthusiastic and creative person studying biotechnology at Uppsala University. Something I find extremely interesting and fascinating is to combine art with science. I joined iGEM to further express and explore this combination in the form of publicity and design involving synthetic biology research.",
            image: "sofia",
        },
        {
            name: "Umme Hany Islam",
            role: "Finance",
            desc: "I come from Bangladesh. I am a pharmacist and currently doing my master in Bioentrepreneurship in KI. I joined iGEM because it seemed an interesting platform to make friends who are like minded but are from different backgrounds and also to be able to explore my knowledge and skills in science and entrepreneurship.",
            image: "umme",
        },
        {
            name: "Victoria Muliadi",
            role: "Lab & HP",
            desc: "I joined iGEM because I am interested in finding a way synthetic biology could be used to make society a better place, and because I want to work with science-loving people on a scientific project! Trivia: I come from Indonesia, but I consider English to be more of my first language.",
            image: "victoria",
        },
        {
            name: "Xinhe Xing",
            role: "Media",
            desc: "I came to Stockholm from Finland to study biomedicine. iGEM seemed like a fun way to learn about synthetic biology and develop my media skills, so I took up the challenge. I’m curious to explore the ways in which science can be communicated to a modern audience.",
            image: "xinhe",
        }
    ];

mixin fakemixin()
    p