extends ../templates/contents.pug

block headVars
    - var title = "Collaborations"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = false
    - var topimg = "collaborations"

block article

    :markdown-it(html)

        # Overview
        Collaboration with other teams is central to the iGEM experience, and having the opportunity
        to work together with like-minded people from other places is always exciting! Despite the lack
        of physical meetings we were able to both host and participate in a number of events, ranging
        from social media activities to conferences and so on. Not only did we benefit from each other's
        expertise but were also able to form new, invaluable bonds. We'd like to thank every team with
        whom we collaborated this year for your patience and cooperation!

    :markdown-it(html)
        # Aachen, Darmstadt: iJET
    - var imgpath = "" + require("../assets/img/Collaborations--ijet.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        Organised by the teams in Darmstadt and Aachen, teams around the world came together through a series
        of video clips depicting a paper plane flying through the screen as team members switched into lab coats.
        The collaborative and international spirit of iGEM was highlighted as scenes from around the world were
        presented as the backdrop, united by the common paper plane as a red thread. Many thanks to Darmstadt and
        Aachen for bringing us all together in this fun way!

    :markdown-it(html)
        # Aalto-Helsinki: Nordic Ethics Workshop
    - var imgpath = "" + require("../assets/img/Collaborations--ethics.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        Every project must deal with its own set of ethical considerations. iGEM Aalto-Helsinki team addressed
        these kinds of issues and invited all Nordic teams working on biosensors to discuss them at the Nordic
        Ethics Workshop hosted in late August. We gave feedback to each other's projects, going over the safety
        issues, practical and societal concerns, and other dos and don'ts of product implementation. The event
        also featured breakout room discussions on the ethics of GMO and biosensor use in research and practice.
        Hats off to Aalto-Helsinki for the informative workshop!

    :markdown-it(html)
        # BITSPilani-Goa: iGEM Wiki Starter Pack
    - var imgpath = "" + require("../assets/img/Collaborations--wikipack.png")["default"]
    +imgNorm(imgpath, 60)
    :markdown-it(html)
        The iGEM Wiki Starter Pack by team iGEM BITSPilani-Goa, using which our own site was built, is
        a comprehensive template that streamlines the process of creating functional and modern iGEM wiki.
        It comes with features like a built-in theme, dark mode, markdown support, automatic citation,
        and much more, circumventing the need to reinvent the HTML wheel year after year and team after
        team. Captivated by their exciting presentation at the iGEM Global Meetup, we reached out to BITS
        Goa to help test and document the starter pack for future iGEM teams. A big thanks to the good folk
        at BITS Goa for the interesting collaboration opportunity, as well as for providing an excellent wiki
        framework for us to work on.

        The iGEM Wiki Starter Pack documentation can be found from [here](https://igem-wiki-starter.readthedocs.io/en/latest/index.html).

    :markdown-it(html)
        # Düsseldorf: Postcard Project
    - var imgpath = "" + require("../assets/img/Collaborations--postcard.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        Once again, we rediscover the art and joy of sending and receiving cards from teams across
        the globe through iGEM Düsseldorf's long-running postcard project! All iGEM teams were invited
        to design and snail mail Düsseldorf 50 copies of a custom postcard briefly explaining their
        project. The cards were then distributed to all participating teams around the world. It's
        important to keep in touch with the community, and science communication with a touch of art
        is always appreciated. We were able to partake in the collaboration this year as well, and
        received a stack of beautiful cards in return!

    :markdown-it(html)
        # iGEM Global Meetup
    - var imgpath = "" + require("../assets/img/Collaborations--global.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        In light of the lack of a physical Jamboree, the iGEM Foundation decided to organize an official
        2-day event in August called the iGEM Global Meetup featuring keynotes, workshops, practical
        competition info, a team spirit poster session, and other games and activities. Through the meetup
        we learned a lot of useful information (like rules on building our wiki) and were introduced to many
        exciting collaboration opportunities. Moreover, it was a blast to partake in the team spirit poster
        session and other recreational events hosted by organizers and teams alike. Hats off to everyone who
        made the meetup fun and possible!

    :markdown-it(html)
        # Linköping: Virtual Nordic iGEM Conference
    - var imgpath = "" + require("../assets/img/Collaborations--nic.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        The annual Nordic iGEM Conference (NiC) is an event where Nordic iGEM teams are given a chance
        to present their projects and obtain feedback from each other prior to the Jamboree. This year's
        conference, initially planned to be held at Linköping in May, was unfortunately cancelled due to
        the pandemic. But the show must go on, and thus teams Stockholm and Linköping joined forces and
        decided to organize a one-day virtual NiC over Zoom instead. All Nordic iGEM teams were invited
        to give a freeform presentation on their project, and supervisors from both organizing teams held
        fascinating lectures on their research. After the main events, we closed the conference off with
        a round of party games. A big thanks to Linköping for planning and co-hosting the event, to the
        lecturers for presenting, and to all the teams for participating! The entirety of NiC was live
        streamed on iGEM Stockholm's YouTube channel.

        # Marburg-Gießen: German iGEM Online MeetUp
        In early July, we took part in the German iGEM Online MeetUp hosted by iGEM Marburg-Giessen
        to discuss synthetic biology and share our project with other iGEM teams. More importantly,
        we were able to host a workshop discussing public engagement via "Lab on Screens". With
        restrictions placed on physical contact and social gatherings, many teams have likely faced
        difficulties with planning public engagement events and collaborations this year. To address
        these issues, points of discussion in the workshop included communicating synthetic biology
        to the general public, as well as safe outreach during pandemic times through digital media.

    :markdown-it(html)
        # MSP-Maastricht: Journal Initiative
    - var imgpath = "" + require("../assets/img/Collaborations--journal.png")["default"]
    +imgNorm(imgpath, 60)
    :markdown-it(html)
        This year, iGEM MSP-Maastricht offered all the teams an opportunity to publish their project papers
        in a journal. The plan was to compile all iGEM projects into a single source to give an overview of
        research in iGEM in its entirety. Plus, it's an educational simulation of the actual publication and
        peer-reviewing process for those of us who are at an earlier stage in our studies. We are thrilled
        that the paper we submitted, titled Genetic Circuits and Corresponding Bacteria for Metal Reduction,
        was accepted into the printed journal! Kudos to MSP-Maastricht for arranging the collaboration and
        giving us a lovely journal to remember this year's iGEM competition by.

    :markdown-it(html)
        # MSP-Maastricht: Lab on Screens
    - var imgpath = "" + require("../assets/img/Collaborations--los.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        For one episode of our "Lab on Screens" series, we were able to expand into the "digital kitchen"
        of iGEM MSP-Maastricht for a special crossover episode. To showcase enzymatic degradation, both
        teams were tasked with investigating and recording the effect of fruit enzymes on gelatin using
        either fresh, frozen, or boiled pineapple and kiwi. It's a shame we weren't able to physically work
        in the same kitchen, but the video turned out great all the same. A round of applause to the skilled
        home scientists at Maastricht!

    :markdown-it(html)
        # UCopenhagen: Wiki Troubleshooting
    - var imgpath = "" + require("../assets/img/Collaborations--wiki.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        Planning and building a wiki from the ground up is no easy task. This year, our team has been
        fortunate enough to find a fellow Nordic team, iGEM UCopenhagen, with whom to brainstorm and
        troubleshoot hours upon hours of wiki work. Thanks to our combined efforts, we were able to fix
        many a buggy margin and broken layout. The collaboration between us has been a productive
        experience that not only helped us improve our wikis but also form friendships from the other
        side of the pond. Cheers to UCopenhagen!

        # Uppsala: From Paper to Reality Workshop
        Much of iGEM projects tend to stay theoretical, trapped in paper for the foreseeable future. This
        is especially true during a pandemic, where many teams are unable to gain even lab access. From Paper
        to Reality, a workshop held in late September by iGEM Uppsala, helped teams visualize their projects
        beyond the theory through lectures and exercises on essential skills like pitching and product development.
        We were able to give and receive feedback on how to pitch our project and came out of the workshop with a
        better presentation and clearer voice than before. Many thanks to Uppsala for hosting the event!
