include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Collaborations | iGEM Stockholm
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .container
        .wave.wave1
        .wave.wave2
        .wave.wave3

    main
      .container
        h1 Collaborations
        .row
          .sidebar.col-lg-2
            .nav#contents
              h5 Contents
              
              ul
                //- Filled automatically from js
          .content.col-lg-10
          
            :markdown-it(html)

              # Collab 1
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
    include ../templates/footer.pug
