extends ../templates/contents.pug

block headVars
    - var title = "Contribution"
    - var tagline = "Our two cents"
    - var requireMathJax = false
    - var topimg = "contribution"

block article

    :markdown-it(html)

        # A standard modular system for pollutant biosensors
        Using our modular system (Figure 1), we aimed to prove that our MFC biosensor can detect and distinguish between two pollutants at the same time. However, with modification of this modular system, various pollutants can be detected at the same time.

    - var imgpath = "" + require("../assets/img/Contribution--luxrhi.png")["default"]
    +image(1, imgpath, "The Lux-Rhl modular system", 100)

    :markdown-it(html)
        Hence, our suggested modular system can be used by any iGEM team to detect a specific pollutant with an electrical output, taking advantage of the MtrB gene. Any promoter of interest could be replaced at the Px position and as a result detect any compound needed. In silico testing of the system successfully showed that the proposed system would be functional, which is described in [modelling](https://2020.igem.org/Team:Stockholm/Model#SystemofDelayedDifferentialEquations-Improveddesignandinduction). Also, sub parts of this system were sequenced and characterized to prove that successful cloning is possible, seen in [results](https://2020.igem.org/Team:Stockholm/Results). However, due to time constraint the complete modular system wasn't tested in real life conditions.

        # Troubleshooting Western Blot analysis for your proteins
        During the whole experimental period, we tried to optimize our protocols to achieve the best possible results. Though, sometimes even after optimization, even if we had used the right controls, getting useful results proved to be difficult. Hence, we performed various cycles of troubleshooting. We created a troubleshooting checklist especially for Western blot, which can be found on the [engineering](https://2020.igem.org/Team:Stockholm/Engineering#Identifyaproblemtosolveati+1=troubleshooting) page. 

        # Better characterization of the existing parts
        During the summer we attempted to work with already existing parts. Biobricks such as bphR1, and prmA were added with <dfn>Myc tags ~ SsrA protein degradation tag</dfn> for easier characterization from future iGEM teams. These biobricks were characterized and sequenced to prove their efficacy, and can be seen in [parts](https://2020.igem.org/Team:Stockholm/Parts). Cloning and sequencing was successfully performed based on the [results](https://2020.igem.org/Team:Stockholm/Results#Cloning). 

        # Lab on Screens 
        This year, we also expanded our success further than the lab bench. A YouTube series beneficial not only for the iGEM community but to get more people interested in science was started with basic science experiments. We created the [Lab-on-Screens]( https://2020.igem.org/Team:Stockholm/Education#LabonScreens) series to provide a creative basis for future teams to work on. We hope that future teams will build on this platform to expand it even more. We are grateful already to be able to build upon it together with the Maastricht iGEM Team 2020. [Here's the link to the channel, where you can watch our series!](https://www.youtube.com/watch?v=mIucsDY7Lp4&list=PLVaGAfKUErB1U-JNhz4FarIwh6PQAxsPk)