extends ../templates/contents.pug

block headVars
    - var title = "Education & Public Engagement"
    - var tagline = "Synbio and the world"
    - var requireMathJax = false
    - var topimg = "education"

block article

    :markdown-it(html)

        # Overview

        In the face of a global pandemic and daily media articles sprouting with scientific jargon, the importance of conveying science in a coherent and accessible manner has perhaps been more important than ever.

        Our public engagement and education journey has been significantly shaped by this responsibility. Whilst we were grateful for having an engaged society, we wanted to ensure we could provide simple yet informative scientific content, especially as a platform for introducing synthetic biology. We focused on accessibility, simplicity and encouraging scientific curiosity. This greatly shaped how we chose to interact and engage with the public. Moreover, with multiple creative talents within our team we wanted to harness our skill set to convey synthetic biology in a fun and artistic way. After all, the greatest scientific discoveries are often found at the junction between science and creativity.  

        It all boiled down to a set of concrete projects, tackling different aspects of our focus areas. We chose to spend time on developing these ideas and build upon our projects in a manner that they could be built upon by future teams, designing them to stand the test of time. 

        Without further ado, let us present our public engagement and education journey.

        # Lab on Screens
        How does one best showcase synthetic biology in an easy and accessible manner during a global pandemic? The digital platform seemed like a natural choice and we were excited by the prospect of having the whole world as our stage. Yet we were certain we didn’t want this to be a one-sided performance. It was equally, if not more important, to allow for our audience to engage with us and each other. The best way to **understand** synthetic biology is to **do** synthetic biology. And thus the idea for a series of do-it-yourself home experiments was born.
    - var imgpath = "" + require("../assets/img/Education--Lab on screen.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        Pertaining to accessibility, we wanted to ensure that the experiments only involved ingredients easily found in the supermarket, not requiring an extra trip outside of the house in pandemic times. Safety measures were also detailed and recommended in the beginning of each episode. Simplicity in regards to the scientific background was maintained through a series of descriptive, cartoon-styled animations backed with easy-to-understand voice-overs explaining the scientific concepts behind each experiment. Scientific curiosity was developed by encouraging audience questioning and by providing a platform where seemingly complex scientific techniques such as DNA extraction or cell cultivation was carried out by the audience themselves. The message we wanted to deliver was: "Synthetic biology can be easy and fun". Below follows a short description of the four episodes in the series. 
    - var imgpath = "" + require("../assets/img/Education--Lab on Screens - Episode 2.png")["default"]
    +imgNorm(imgpath, 100)
    :markdown-it(html)
        ## Episode 1
        The start of our journey. We chose to focus on an easy and visual topic, using red cabbage as a pH indicator. We took this a step further and encouraged our participants to measure the pH of their tap water, relating to our project about water quality. Most importantly, we wanted maximum audience interaction and set up this first episode as a live stream, allowing us to answer questions live.

        ## Episode 2
        We followed up with DNA extraction from fruits, relating it to all its applications and explaining the concept of DNA - the very core of synthetic biology. Our audience was surprised at the simplicity of a seeminlgy complex process like DNA extraction.

        ## Episode 3
        This was a collaborative effort with iGEM Maastricht 2020. Enzymatic activity in pineapple and kiwi was explored. It was a great learning experience for both of our teams and we hoped to allude to the collaborative nature of synthetic biology through this episode.

        ## Episode 4
        For this episode we continued with bacterial culturing using cooking broth. The star of the synthetic biology show - the bacteria, was introduced. This episode is being finalized and we are excited to see our audience engage with it.

        We hope that future teams will want to build on this platform and we are grateful to have been able to build upon it already together with the Maastricht iGEM Team 2020. Curious? Find Lab on Screens [here](https://www.youtube.com/watch?v=mIucsDY7Lp4&list=PLVaGAfKUErB1U-JNhz4FarIwh6PQAxsPk).
        
        # Finn & Chewie - The team mascot
        As part of introducing our project to the world we wanted to introduce a mascot to the public. The lovely Finn (representing our Microbial Fuel Cell) and his pal Chewie (representing our electricity-producing Shewanella oneidensis) allowed us to conceptualize and share our project in a fun and accessible way. The mascot even made some friends along the way, depicted together with the mascots from the Aachen, IISER Bhopal and Dusseldorf teams as organised by iGEM Dusseldorf. Posted on social media on International Friendship Day, we hoped that it would highlight the team spirit within the iGEM community and raise awareness about our different projects.
    - var imgpath = "" + require("../assets/img/Education--Finn and Chewi.png")["default"]
    +imgNorm(imgpath, 60)
    :markdown-it(html)
        (The social media mascot post on iGEM Dusseldorf’s instagram, date 30 July 2020, link [here](https://www.instagram.com/p/CDRa5UoKtyX/).)
      
        # toxinOFF game
        We created a browser platformer game called toxinOFF, where the player helps Finn and Chewie to collect tubes of pollutants through various levels. Besides introducing the concept behind our project in a fun way, we wanted to provide online entertainment for people staying at home during the pandemic. We also launched a competition on our social media, to see who could complete the game with the least number of deaths.
        Play toxinOFF [here](https://igem.se/toxinoff/)!
    - var imgpath = "" + require("../assets/img/Education--toxinoff games.png")["default"]
    +imgNorm(imgpath, 100)

    :markdown-it(html)
        # Amphiox Games
        The Amphiox Games is a part of Medicinska Föreningen's (MF) annual social activities at the Karolinska Institute for the incoming freshman students. This year, this activity was held in person in accordance with the Swedish authorities' recommendations to limit the spread of Covid-19. iGEM Stockholm was one of the hosts and aimed to engage with the new students. Our activities involed the interactive word guessing game "charades". We prepared some words related to synthetic biology and biology in general and let representatives from each team describe the words through acting. Many of them had unique and creative ways to express words related to synthetic biology. We also got the chance to introduce synthetic biology and iGEM. Delivering science through a game like charades allows for an insight into how science can be interpreted by different people in unique ways. 
    - var imgpath = "" + require("../assets/img/Education--Amphiox games.png")["default"]
    +imgNorm(imgpath, 100)
    
    :markdown-it(html)
        # Student society luncheon
        As part of fresher activities at the Royal Institute of Technology KTH, different organisations are introduced to the freshly admitted students within the fields of biotechnology and chemical engineering. Here iGEM and the concept of using synthetic biology to solve a societal problem was introduced. We had interesting discussions with the incoming students and were keen on hearing about their thoughts on iGEM, synthetic biology and working with research.
        
        # Final thoughts

        Sharing and engaging in synthetic biology with not only our local communities but also communities across the world has indeed been a rewarding part of the iGEM journey. It has helped us critically evaluate our role as members of the scientific community and enabled us to fine-tune how to share scientific knowledge in an ethical, meaningful and engaging way. We hope that these projects have had some positive impact and helped to bridge the gap between science, synthetic biology and the community it hopes to serve.
