extends ../templates/contents.pug

block headVars
    - var title = "Engineering"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    - var topimg = "engineer"

block article

    - var imgpath = "" + require("../assets/img/Engineering--cycle.png")["default"]
        +image(1, imgpath, "Engineering cycle", 100)

    :markdown-it(html)
      # 1. Problem identification
      # 2. Gathering information
      # 3. Defining a goal
      # 4. Plan and define subtasks

    - var imgpath = "" + require("../assets/img/Engineering--division.png")["default"]
        +image(2, imgpath, "Engineering division", 100)

    :markdown-it(html)
      # 5. Design
      ## A. Circuit
  
    - var imgpath = "" + require("../assets/img/Engineering--pcb_circuit.png")["default"]
        +image(3, imgpath, "PCB Circuit", 100)

    :markdown-it(html)
      ## B. MFC

    - var imgpath = "" + require("../assets/img/Engineering--mfc_disassembled.jpg")["default"]
        +image(4, imgpath, "Disassembled MFC", 100)

    :markdown-it(html)
      # 6. Model
      # 7. Build and experiment
      ## A. Parts

    - var imgpath = "" + require("../assets/img/Engineering--gblock_processing.png")["default"]
        +image(5, imgpath, "Gblock processing", 100)

    :markdown-it(html)
      ## B. MFC

    - var imgpath = "" + require("../assets/img/Engineering--mfc.png")["default"]
        +image(6, imgpath, "MFC Setup. 1/green: pump, 2/yellow: water, 3/purple: media, 4/red: resistor, 5/blue: MFC", 100)

    :markdown-it(html)
      # 8. Analyse the results

    - var imgpath = "" + require("../assets/img/Engineering--wt.png")["default"]
        +image(7, imgpath, "WT", 100)
    - var imgpath = "" + require("../assets/img/Engineering--ko.png")["default"]
        +image(8, imgpath, "Knockout", 100)
    - var imgpath = "" + require("../assets/img/Engineering--biofilm.png")["default"]
        +image(9, imgpath, "A: no biofilm B: with biofilm", 100)

    :markdown-it(html)
      # 9. Discuss and conclude

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Allen, M. J., & Sheridan, S. C. (2015). ", "doi": "https://doi.org/10.1007/s00484-015-1117-4", "journal": "International Journal of Biometeorology", "numbers": "62(1), 57-67. ", "title": "Mortality risks during extreme temperature events (ETEs) using a distributed lag non-linear model.", "type": "article"}, {"authors": "Rosano, A., Bella, A., Gesualdo, F., Acampora, A., Pezzotti, P., Marchetti, S., ... & Rizzo, C. (2019). ", "doi": "https://doi.org/10.1016/j.ijid.2019.08.003", "journal": "International Journal of Infectious Diseases", "numbers": "88, 127-134. ", "title": "Investigating the impact of influenza on excess mortality in all ages in Italy during recent seasons (2013/14-2016/17 seasons).", "type": "article"}, {"authors": "Ingalls, B. P.", "publisher": "MIT Press.", "title": "Mathematical modeling in systems biology: An introduction.", "type": "book", "year_published": "(2013)."}, {"details": "(March 15, 2019). Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}, {"authors": "Author Name. (n.d.).", "details": "Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}]