include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Integrated Human Practices | iGEM Stockholm
  body
    include ../templates/nav.pug
    .parent
      header.d-flex.justify-content-center.align-items-center
      main
        .container
          .title
            h1 Integrated Human Practices
            p Persistent organic pollutants (POPs) are an emerging problem in both human health and the ecosystem. Even though many of these compounds have been regulated under the Stockholm Convention since 2004 [ref1], today POPs are still found in circulation in drinking water and wastewater [ref2, ref3], among other water sources in Sweden. We aim to contribute to the management of POP levels in aquatic environments by developing a novel method for the detection and differentiation of POPs.
            p Throughout the development of S-POP, we have consulted with experts and stakeholders within academia, industry, legislation, healthcare and society all serving to create a product that would benefit society. The academic sector played a vital part in developing the technical aspects of our project. Input from the industry and legislative authorities helped in shaping the application of the project. Finally, discussions with the health sector and society gave us valuable input on factors to consider when implementing S-POP.  
            p Click on the buildings to follow our journey!

          .sectors
            .sector.sector1
              .building.building1
              .name.name1
                h2 Academia
              .info.info1
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--emma vincent.png")["default"]
                +imgNorm(imgpath, 100)
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--joao.png")["default"]
                +imgNorm(imgpath, 100)
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--jonathan.png")["default"]
                +imgNorm(imgpath, 100)
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--rakel.png")["default"]
                +imgNorm(imgpath, 60)
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--steffan.png")["default"]
                +imgNorm(imgpath, 100)
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--sudhansu.png")["default"]
                +imgNorm(imgpath, 100)
            .sector.sector2
              .building.building2
              .name.name2
                h2 Legislation
              .info.info3
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--legislation (natursver).png")["default"]
                +imgNorm(imgpath, 100)
            .sector.sector3
              .building.building3
              .name.name3
                h2 Industry
              .info.info4
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--Industry- SARA.png")["default"]
                +imgNorm(imgpath, 100)
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--industry-Kristina.png")["default"]
                +imgNorm(imgpath, 100)
            .sector.sector4
              .building.building4
              .name.name4
                h2 Healthcare
              .info.info2
                :markdown-it(html)

            .sector.sector5
              .building.building5
              .name.name5
                h2 Society
              .info.info5
                :markdown-it(html)
                  # Heading
                  text
                - var imgpath = "" + require("../assets/img/HP--Society-Nordic team.png")["default"]
                +imgNorm(imgpath, 100)

            .folder
              .tab
              .main
                h1 [TOP SECRET]
            
          - var citations = [{"authors": "Allen, M. J., & Sheridan, S. C. (2015). ", "doi": "https://doi.org/10.1007/s00484-015-1117-4", "journal": "International Journal of Biometeorology", "numbers": "62(1), 57-67. ", "title": "Mortality risks during extreme temperature events (ETEs) using a distributed lag non-linear model.", "type": "article"}, {"authors": "Rosano, A., Bella, A., Gesualdo, F., Acampora, A., Pezzotti, P., Marchetti, S., ... & Rizzo, C. (2019). ", "doi": "https://doi.org/10.1016/j.ijid.2019.08.003", "journal": "International Journal of Infectious Diseases", "numbers": "88, 127-134. ", "title": "Investigating the impact of influenza on excess mortality in all ages in Italy during recent seasons (2013/14-2016/17 seasons).", "type": "article"}, {"authors": "Ingalls, B. P.", "publisher": "MIT Press.", "title": "Mathematical modeling in systems biology: An introduction.", "type": "book", "year_published": "(2013)."}, {"details": "(March 15, 2019). Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}, {"authors": "Author Name. (n.d.).", "details": "Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}]

          article#references
            h1 References
            ol
              - counter = 1
              each citation in citations
                if citation.type == 'article'
                  +citation_article(citation, counter)
                if citation.type == 'webpage'
                  +citation_webpage(citation, counter)
                if citation.type == 'book'
                  +citation_book(citation, counter)
                - counter = counter + 1
      include ../templates/footer.pug