include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Integrated Human Practices | iGEM Stockholm
  body
    include ../templates/nav.pug
    .parent
      header.d-flex.justify-content-center.align-items-center
      main
        .container
          .title
            h1 Integrated Human Practices
            p Persistent organic pollutants (POPs) are an emerging problem in both human health and the ecosystem. Even though many of these compounds have been regulated under the Stockholm Convention since 2004 [n.a., 2020](#citation1), today POPs are still found in circulation in drinking water and wastewater [Silva et al., 2020](#citation2)[Wahlberg, 2016](#citation3)[Wahlberg, 2018](#citation4), among other water sources in Sweden. We aim to contribute to the management of POP levels in aquatic environments by developing a novel method for the detection and differentiation of POPs.
            p Throughout the development of S-POP, we have consulted with experts and stakeholders within academia, industry, legislation, healthcare and society all serving to create a product that would benefit society. The academic sector played a vital part in developing the technical aspects of our project. Input from the industry and legislative authorities helped in shaping the application of the project. Finally, discussions with the health sector and society gave us valuable input on factors to consider when implementing S-POP.  
            p.center Click on the buildings to follow our journey!

          .sectors
            .sector.sector1
              .building.building1
              .name.name1
                h2 Academia
              .info.info1
                :markdown-it(html)
                  # Rakel Wreland Lindström
                  *Associate professor in fuel cells, Division of Applied Electrochemistry, KTH Royal Institute of Technology*
                
                  During the early stages of our project development, we focused on finding solutions to the environmental problems associated with electricity production. After some brainstorming, we settled on the idea of using microbial fuel cells (MFCs) as a sustainable method of producing electricity. To gain some insight into this area, we contacted Rakel Wreland Lindström, who specialises in fuel cell research.

                  Rakel mentioned that using MFCs to generate power is not very feasible as they usually produce very small currents. Based on her input, we changed the direction of our project from using MFCs to generate electricity to using them as biosensors, as biosensors do not require a large electrical output to function and could potentially be used to solve an environmental problem, which was the core aim of our project.

                - var imgpath = "" + require("../assets/img/HP--rakel.png")["default"]
                +imgNorm(imgpath, 60)

                :markdown-it(html)
                  # Emma Vincent 
                  *Researcher in aryl hydrocarbon receptor toxicity, Institute of Environmental Medicine, Karolinska Institutet*
                  
                  But which kinds of compounds should our biosensor detect? Through our meeting with Emma Vincent, a researcher focusing on integrative toxicology, we discovered that persistent organic pollutants (POPs), such as PCBs and PFAS, are an emerging problem both in aquatic environments and for human health, as they are toxic and bioaccumulating compounds.
                  
                  Emma suggested that a good biosensor should have high specificity (to differentiate different congeners), sensitivity and good detection range. A quantitative output could be implemented for ease of analysis. As we will be using bacteria to detect these compounds, she also recommended us to assess the toxicity of the compounds in bacteria and any mixed response from the bacteria when different types of pollutants are present simultaneously.
                  
                  From Emma's feedback, we decided to develop a detection system targeting POPs, specifically PCB and PFOS. We also conducted viability assays using these compounds on our strains to assess the maximum concentration that our strains can survive in and generate a response.

                - var imgpath = "" + require("../assets/img/HP--emma vincent.png")["default"]
                +imgNorm(imgpath, 100)

                :markdown-it(html)
                  # Sudhanshu Pawar 
                  *Researcher in the Department of Energy and Resources, Unit of Bioprocesses and Environmental Services, RISE (Research Institutes of Sweden*

                  We discussed our project design with Sudhanshu including the sensitivity of our promoters to detect PFOS and PCB. We also discussed potential benefits and challenges with using electrical signalling as our detection output rather than fluorescence. Furthermore, he suggested the BRENDA enzyme database which proved useful for the modelling part of our project. 
               
                - var imgpath = "" + require("../assets/img/HP--sudhansu.png")["default"]
                +imgNorm(imgpath, 100)
                
                :markdown-it(html)
                  # Steffen Georg 
                  *PhD candidate researching on bioelectrochemical systems, Wetsus, European Centre of Excellence for Sustainable Water Technology*
                  
                  As we were developing the design of our fuel cell, we contacted Steffen who provided us insight into alternatives for bioelectrochemical systems. We discussed differences between a microbial electrolysis cell (MEC) and a microbial fuel cell (MFC), and the implications of implementing each of them into our project. Given the aim of our project, we received confirmation that the microbial fuel cell was more suitable for our needs. Subsequently, he recommended us to measure the output from the MFC using a potentiostat and to detect the current using cyclic voltammetry. For developing the MFC, providing 2 compartments for each bacterial strain would help our idea. Moreover, vitamins and minerals should be added into the feed solution for optimal bacterial growth. Based on his input, we designed our MFC to be a 2 compartment system, each for S. oneidensis and E.coli.
               
                - var imgpath = "" + require("../assets/img/HP--steffan.png")["default"]
                +imgNorm(imgpath, 100)

                :markdown-it(html)
                  # Martin Gustafsson
                  *Assistant professor, research within metabolic engineering and industrial microbiology, Industrial Biotechnology, KTH Royal Institute of Technology*
                  
                  Martin gave us valuable input into the modelling aspects of our project. Our meeting focused on the metabolic pathways of Shewanella oneidensis, utilising the KEGG PATHWAY database to compare potential substrate options for our strain. We established that when supplied with lactate as primary substrate S. oneidensis would direct the metabolism in the pathway resulting in electricity production. In our final MFC experiments we did in fact use lactate as the primary substrate source for S. oneidensis. 
                - var imgpath = "" + require("../assets/img/HP--Martin Gustafsson.png")["default"]
                +imgNorm(imgpath, 100)

                :markdown-it(html)
                  # Jonatan Martin Rodriguez
                  *Senior research specialist, Department of Microbiology, Tumor and Cell Biology, Karolinska Institutet.*
                  
                  To understand how Shewanella oneidensis works and how to optimise growth conditions for our strains, we contacted Jonatan Martin Rodriguez, specializing in the field of bacterial physiology. He provided us with protocols for conjugation and electroporation of our S. oneidensis strain and our meeting inspired us to think a step further in terms of the conditions that our bacterial strains will be subjected to in wastewater and the Baltic sea. We discussed how the concentration of salts in the aquatic environment where our product will be implemented may affect the growth of our strains.
                
                - var imgpath = "" + require("../assets/img/HP--jonathan.png")["default"]
                +imgNorm(imgpath, 100)

                :markdown-it(html)
                  # João Pereira
                  *PhD candidate focusing on the optimization of bioelectrochemical systems, Wetsus, European Centre of Excellence for Sustainable Water Technology*
                  
                  We had several meetings with João during our experimental journey and he gave us valuable insight into the optimization of biofilm growth in our fuel cell. At this stage our setup was quite theoretical and we had concerns regarding the time it would take for our biofilm to develop as our literature research suggested a time frame of several months. In our meeting with João we discussed several parameters that may affect the electrical output and biofilm formation such as the level of substrate added to the media as well as flow rates of the media in and out of the MFC. The first meeting with João helped us plan a more concrete approach to our fuel cell setup and we quickly realised the importance of substrate availability for electrical output after receiving our first results from the MFC. We also kept the flow rate constant in our MFC as per his suggestion. 
            
                - var imgpath = "" + require("../assets/img/HP--joao.png")["default"]
                +imgNorm(imgpath, 100)

                :markdown-it(html)
                  # Amirreza Khataee
                  *Postdoc researcher in flow cell systems, Division of Applied Electrochemistry, KTH Royal Institute of Technology*

                  In order to put our theoretical research on MFCs into practice, we contacted Amirreza who quickly became one of our advisors. Not only did he provide us with the practical setup to carry out our MFC experiments, he also provided us with valuable suggestions on how to optimize the measurement of our electrical signal. Based on his recommendation, we opted to measure changes in voltage instead of changes in current, by applying a constant resistance to the system. 
                
                - var imgpath = "" + require("../assets/img/HP--Amireza.png")["default"]
                +imgNorm(imgpath, 60)

            .sector.sector2
              .building.building2
              .name.name2
                h2 Legislation
              .info.info3
                :markdown-it(html)
                  # Naturvårdsverket - Swedish Environmental Protection Agency
                  ## Åsa Andersson and Karin Norström

                  Åsa and Karin helped us to understand the current regulations and legislation in regards to POPs. Regulations in the levels of PFAS allowed in drinking water and fish exist, yet the same regulations are not applied in wastewater treatment. We also discussed the current trends in POP levels in the environment. PCB levels are decreasing, but the levels of PFAS vary widely within the group, because one compound could easily be replaced with another. POPs have also been found in landfills. To reduce the level of POPs found in the environment above safe thresholds, they recommended finding the upstream source of the pollutant and doing a risk assessment before taking further action. Our biosensor hence could prove useful for this purpose. Åsa and Karin seemed positive in terms of the potential use of a biosensor for PFOS and PCB. We further  discussed practical aspects such as the cost of our product and whether the MFC required human intervention to function. 
                - var imgpath = "" + require("../assets/img/HP--legislation (natursver).png")["default"]
                +imgNorm(imgpath, 100)

            .sector.sector3
              .building.building3
              .name.name3
                h2 Industry
              .info.info4
                :markdown-it(html)
                  # Kristina Stark Fujii
                  *Process engineer at SYVAB, Stockholm Vatten och Avfall*

                  To understand how the levels of POPs are currently measured in water, we had a meeting with Kristina Stark Fujii, who is a process engineer at SYVAB, a company that runs a wastewater treatment plant in the Stockholm region. Kristina explained that pollutant monitoring in wastewater treatment plants is performed by obtaining water samples upstream (i.e. from industries and households) and downstream (i.e. after treatment) the wastewater treatment plant and sending them to labs for analysis - a process which takes 1-3 weeks to obtain results. While POPs are also measured, wastewater treatment plants generally focus on monitoring the levels of heavy metals and nutrients in water. She suggested that our biosensor project could be applicable in wastewater treatment plants once new legislations on the levels of POPs in wastewater are established. From our meeting, we also gathered valuable information on the current level of POPs measured in wastewater in Stockholm. This information helped us determine suitable concentrations of pollutants to be used to test our system.
                - var imgpath = "" + require("../assets/img/HP--industry-Kristina.png")["default"]
                +imgNorm(imgpath, 100)

                :markdown-it(html)
                  # Sara Villner
                  *Environmental engineer at Käppalaförbundet*

                  We also contacted Sara Villner, who works as an environmental engineer at Käppalaförbundet, another wastewater treatment plant in the Stockholm region. According to her experience, Sara commented that POPs are difficult to remove completely from wastewater even after undergoing the treatment process. She talked about an incident involving a factory that caught on fire, and the water that was used to put the fire out became contaminated with chemicals used in the factory like PFAS. Since that water was taken to the wastewater treatment plant, this caused PFAS to accumulate in both the wastewater and the sludge produced as a by-product of the treatment process. Considering the fact that the treated wastewater is discharged into the Baltic Sea, this could lead to the accumulation of PFAS and other POPs in the Baltic Sea. A main takeaway from our meeting with Sara was her suggestion that our biosensor could be used to monitor and identify sources of POPs upstream. This could play a role in decreasing the release of POPs into the environment, beginning from its source.
                - var imgpath = "" + require("../assets/img/HP--Industry- SARA.png")["default"]
                +imgNorm(imgpath, 100)

            .sector.sector4
              .building.building4
              .name.name4
                h2 Healthcare
              .info.info2
                :markdown-it(html)
                  # Folkhälsomyndigheten - Swedish Public Health Authority
                  ## Sándor Bereczky at the Biorisk and Biosafety Department

                  Our journey within the health sector led us to Sándor Bereczky working in the department of bio risks and biosafety at the Swedish Public Health Authority, who very kindly amidst the Covid-19 pandemic made time for our meeting. In our meeting we largely discussed how one could assess biosafety at the lab as well as how safe our product would be when implemented on site. With his help we were inspired to evaluate the proposed bio risks pertaining to our lab work and MFC and we received information on the Swedish Work Environment authority’s regulation on introducing GMMs in nature.

            .sector.sector5
              .building.building5
              .name.name5
                h2 Society
              .info.info5
                :markdown-it(html)
                  # Ethical Workshop held by Aalto-Helsinki
                  Implementing a biosensor into the environment requires a set of ethical considerations. This was largely discussed in the iGEM Nordic teams ethics workshop. Project descriptions were given to each team and in breakout rooms we discussed the ethics of GMOs and biosensors implemented for research and in practice. The conference helped us evaluate our project concerning aspects such as safety issues, practical and societal concerns, and other dos and don'ts of product implementation. Hearing thoughts on our project from other iGEM teams and troubleshooting potential risks and considerations together proved valuable. Several of the points discussed helped us implement safety measures in our product. For example, we decided to include measures to control potential microbial spread in case the pipeline to and from our MFC was to be compromised. 
                - var imgpath = "" + require("../assets/img/HP--Society-Nordic team.png")["default"]
                +imgNorm(imgpath, 100)

            .folder
              .tab
              .main
                h1 [TOP SECRET]
            
          - var citations = [{"authors": "Allen, M. J., & Sheridan, S. C. (2015). ", "doi": "https://doi.org/10.1007/s00484-015-1117-4", "journal": "International Journal of Biometeorology", "numbers": "62(1), 57-67. ", "title": "Mortality risks during extreme temperature events (ETEs) using a distributed lag non-linear model.", "type": "article"}, {"authors": "Rosano, A., Bella, A., Gesualdo, F., Acampora, A., Pezzotti, P., Marchetti, S., ... & Rizzo, C. (2019). ", "doi": "https://doi.org/10.1016/j.ijid.2019.08.003", "journal": "International Journal of Infectious Diseases", "numbers": "88, 127-134. ", "title": "Investigating the impact of influenza on excess mortality in all ages in Italy during recent seasons (2013/14-2016/17 seasons).", "type": "article"}, {"authors": "Ingalls, B. P.", "publisher": "MIT Press.", "title": "Mathematical modeling in systems biology: An introduction.", "type": "book", "year_published": "(2013)."}, {"details": "(March 15, 2019). Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}, {"authors": "Author Name. (n.d.).", "details": "Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}]

          article#references
            h1 References
            ol
              - counter = 1
              each citation in citations
                if citation.type == 'article'
                  +hp_citation_article(citation, counter)
                if citation.type == 'webpage'
                  +hp_citation_webpage(citation, counter)
                if citation.type == 'book'
                  +hp_citation_book(citation, counter)
                - counter = counter + 1
      include ../templates/footer.pug
