extends ../templates/contents.pug

block headVars
    - var title = "Implementation"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = false
    - var topimg = "implementation"

block article

    :markdown-it(html)
      # Overview
    - var imgpath = "" + require("../assets/img/Implementation--overview.png")["default"]
    +image(1, imgpath, "Implementation overview", 100)

    :markdown-it(html)
      Today, there is still a constant flow of environmental pollutants into aquatic ecosystems like the Baltic Sea. The regulations surrounding this problem are becoming stricter over time. Hence, there is a need to continue monitoring the concentrations of aquatic pollutants. Our project was developed to solve this problem. Based on the input we received via our [Human Practices](https://2020.igem.org/Team:Stockholm/Human_Practices) engagement, we developed S-POP as a modular biosensor for detecting aquatic pollutants.

      Our biosensor is designed to detect and distinguish between different types of POPs. The modularity of this system supports a wide range of future applications. The detection system could be modified as desired to respond to nearly any type of pollutant. Furthermore, multiple devices could be run in parallel to monitor the levels of multiple pollutants within the same environment.

      As POPs are difficult to eliminate from the environment, it is crucial for environmental authorities to identify sources of POPs and to take early action to reduce their levels. At the same time, industries should comply with current regulations on pollutant levels released from their daily operations. Current methods used to monitor such pollutants are time-consuming and costly. Our proposed biosensor could serve as a faster, cheaper alternative to the regular monitoring of pollutants. With this system, we aim to help both regulatory bodies (e.g. environmental protection agencies) and industries (e.g. wastewater treatment plants, chemical plants) in reducing the levels of POPs released into the environment, both upstream and downstream (Figure 1).

      It should be noted that our project involves the use of whole living systems. Even though the strains used are non-pathogenic, they have still been genetically modified so potential biological risks should be considered. Since the device encloses bacterial cultures, some bacteria may detach from the device and pose a risk for human health or the environment when they are released into the water. To mitigate this risk, a filter could be placed on the inlet and outlet of the device to minimise contamination of water. Water flowing through the device could be sterilised by placing a UV-sterilisation lamp by the inlet and outlet. Finally, the strains could be engineered further to express genes that allow them to only survive within the environment of the device, should any backflow or leakage occur.

      Another factor to consider is the maintenance of the system. The biofilm should remain intact since the monitoring depends on that. In this case, experienced technicians may be responsible for the maintenance of the system and survival of the strains.

      Our biosensor could be a very promising tool for the detection and identification of POPs. S-POP's application may be even more relevant if European Commission’s regulations on POPs become stricter.