include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Medal Criteria | iGEM Stockholm
  body
    include ../templates/nav.pug
    .parent
      header.d-flex.justify-content-center.align-items-center
        .container
          .wave.wave1
          .wave.wave2
          .wave.wave3

      main
        .container
          .title
            h1 Medal Criteria
            p In this page we discuss our accomplishments throughout the year and how they align with iGEM’s medal criteria for iGEM competition 2020.
          .medals
            .medal.bronze
              img(src=require('../assets/img/Medal_Criteria--bronze.png')['default']).trophy
              .content
                :markdown-it(html)
                  # Bronze Medal Criteria
                  
                  Register for iGEM, have a great season, attend Jamboree! ✓

                  Deliverables:
                  > Wiki ✓

                  > Poster ✓

                  > Presentation Video ✓

                  > Project Promotion Video ✓

                  > Judging Form ✓

                  [Attributions]() ✓
                  
                  [Project Description]() ✓
                  
                  [Contribution]() ✓

            .medal.silver
              img(src=require('../assets/img/Medal_Criteria--silver.png')['default']).trophy
              .content
                :markdown-it(html)
                  # Silver Medal Criteria
                  
                  [Engineering success](https://2020.igem.org/Team:Stockholm/Engineering) ✓
                  
                  [Collaborations](https://2020.igem.org/Team:Stockholm/Collaborations) were a very important aspect of our team this year. We tried to connect with as many teams as we can, to fill the gap of physical distance. ✓
                  
                  [Human Practices](https://2020.igem.org/Team:Stockholm/Human_Practices) ✓
                  
                  [Proposed implementation](https://2020.igem.org/Team:Stockholm/Implementation) ✓

            .medal.gold
              img(src=require('../assets/img/Medal_Criteria--gold.png')['default']).trophy
              .content
                :markdown-it(html)
                  # Gold Medal Criteria
                  
                  [Integrated Human Practices](https://2020.igem.org/Team:Stockholm/Human_Practices) made our project even more interesting and applicable to the real world. ✓
                  
                  [Project Modeling](https://2020.igem.org/Team:Stockholm/Model) helped us to gain some insight on how our system could be improved and how it would work when finished. ✓
                  
                  [Proof of Concept](https://2020.igem.org/Team:Stockholm/Proof_Of_Concept) ✓
                  
                  [Science Communication](https://2020.igem.org/Team:Stockholm/Education). Our project “Lab on Screens” was a great way to reach people all over the world and communicate science in a fun and educative way. ✓
                  
                  [Excellence in Another Area](). This year we also developed an online game “ToxinOFF” to keep company to the people that were staying at home. ✓

        include ../templates/footer.pug