extends ../templates/contents.pug

block headVars
    - var title = "Model"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = true
    - var topimg = "model"

block article

    :markdown-it(html)
        # System of Delayed Differential Equations
        A system of Delayed Differential Equations (DDEs) was constructed to model the kinetics of the different proteins and their interaction. This model was used to figure out how we can expect the initial genetic circuit to behave. Predicting the behaviour of the model was important in order to adjust the wet lab experiments. It was also used to shed light on how the system could react under different conditions.

        ## Introduction
        The oscillatory circuit consists of a receptor (RhlR) which can receive its cognate ligand (C4-HSL) to activate an inducible promoter (pRhl). An AHL synthase (RhlI) producing the cognate ligand is under the control of the inducible promoter, creating a positive feedback loop. Under the same promoter, a lactonase (AiiA) is also controlled, which degrades the cognate ligand, creating a negative feedback loop.
        
    - var imgpath = "" + require("../assets/img/Model--Overview_Osc.png")["default"]
    +image(1, imgpath, "Caption", 100)
        
    :markdown-it(html)
        The presence of C4-HSL together with RhlR activates pRhl, which produces more RhlI synthase, which in turn creates more C4-HSL. The positive feedback loop amplifies the C4-HSL signal until enough AiiA has been synthesised. As the lactonase starts degrading the C4-HSL, the signal decreases. The negative feedback loop decreases the C4-HSL signal until no new protein is produced and the remaining active protein is broken down.

        Since there is a delay from a transcription factor to activate the transcription of a protein, for that protein to fold into its correct shape and then for it to acts its function, the system doesn't reach as stable equilibrium, but oscillates between a state where the positive and the negative feedback loop dominates. As AHL is a signal molecule and free to diffuse across membranes, the oscillation in not contained to one cell, but is synchronized to the entire population of cells, allowing for any gene controlled by the oscillator to be greatly amplified across the colony at the same time periods. [https://doi.org/10.1038/nature08753]

        The complete oscillatory circuit can be modelled with the following system of differential equations where C4-HSL is denoted "H" and the gene of interest, such as a reporter gene, is denoted "X".

        $$ \frac{\partial [RhlI]}{\partial t} = \frac{V_{max,i}}{K_m \times [H]^2 } + \frac{V_{max,a} \times [H]^2}{K_m + [H]^2 } - \frac{V_{max,g} \times [RhlI]}{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [AiiA]}{\partial t} = \frac{V_{max,i}}{K_m + [H]^2 } + \frac{V_{max,a} \times [H]^2}{K_m + [H]^2 } - \frac{V_{max,g} \times [AiiA] }{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [X]}{\partial t} = \frac{V_{max,i}}{K_m + [H]^2 } + \frac{V_{max,a} \times [H]^2}{K_m + [H]^2 } - \frac{V_{max,g} \times [X]}{K_{g} + [RhlI] + [AiiA] + [X] } $$
        $$ \frac{\partial [H]}{\partial t} = \frac{V_{max,H} \times [RhlI]}{K_H + [RhlI] } - \frac{k_{cat,g} \times [AiiA] \times [H]}{K_G+[AiiA]} $$

        Each partial differential equation for change in protein concentration over time consists of three parts. The transcription of the uninduced pRhl promoter or the "leaky" transcription is here first in the equations. The activity of the uninduced promoter, sometimes denoted "a", or α0 [https://doi.org/10.1016/j.mbs.2012.01.001], here denoted "Vmax, i" is in the numerator, without any dependence on the inducer (AHL). It is also assumed that the receptor (RhlR) is present in excessive amounts, so this too is not found in this set of equations.
        
        $$ \frac{V_{max,i}}{K_m \times [H]^2 } $$
        
        The second part of the equation is the induced transcription of the promoter. This is a Hill function with a cooperativity of 2, by the binding mechanism of RhlR to the promoter [https://doi.org/10.1038/nature07389]. 

        $$ \frac{V_{max,a} \times [H]^2}{K_m + [H]^2 } $$

        The third and final part is the degradation of the enzyme by the proteasome complex in the cell. The proteins in the circuit are all designed with an LVA tag, which is an ssRA tag that tags the protein for destruction. This causes the proteins to linger in the cell for shorter amounts of time, which is crucial for creating a fast oscillator. Slower repressilator circuits would have to resort to using the concentration drop in division to decrease protein levels [https://doi.org/10.1038/35002125]. This is avoided by using a degradation tag. Since all of our proteins will be expressed on a high copy number plasmid, only our proteins are important in the denominator for the degradation complex. The protein "X" is here chosen for the example.

        $$ - \frac{V_{max,g} \times [X]}{K_{g} + [RhlI] + [AiiA] + [X] } $$

        The equation for the AHL is different as it is a small molecule made by the enzyme RhlI. It is therefore in the first part dependent on the concentration of RhlI in the cell. 

        $$ \frac{V_{max,H} \times [X]}{K_H + [X] } $$

        It is also actively broken down by AiiA, which is dependent on both the concentration of AiiA and the current concentration of AHL, which can be seen in the second part of the equation.

        $$ - \frac{k_{cat,g} \times [AiiA] \times [H]}{K_G+[AiiA]} $$

        With a system of ODEs, the delay caused by transcription, translation and folding can be modelled by introducing intermediate species for the mRNA, the unfolded protein and the different folding species, each with their own enzymatic activity. While this provides a simulation with high external validity, it requires the kinetic parameters for the transition of one species to another, and with the partially folded proteins: their enzymatic activity as well [https://doi.org/10.1038/nature07389]. A simpler approach is to summarize all the interactions that have to occur before a protein is active with a time delay from induction of the gene to the final protein. This can be done with a system of DDEs, with the following additional equation that introduces the time delay. While this may not be as powerful at predicting experimental outcomes, it is easier to construct and uses less unknown variables [https://doi.org/10.1016/j.mbs.2012.01.001]. This changes the system of equations from a set of ODEs, to DDEs. These are significantly harder to solve analytically, and we have therefore resorted to solving them numerically in MATLAB.

        $$ \frac{\partial [RhlI]}{\partial t} = \frac{V_{max,i}}{K_m \times [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [RhlI]}{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [AiiA]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [AiiA] }{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [X]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [X]}{K_{g} + [RhlI] + [AiiA] + [X] } $$
        $$ \frac{\partial [H]}{\partial t} = \frac{V_{max,H} \times [RhlI]}{K_H + [RhlI] } - \frac{k_{cat,g} \times [AiiA] \times [H]}{K_G+[AiiA]} $$

        The equations remain mostly the same, but the change in mature protein expression is now dependent not on the current level of AHL, but the level of AHL at a time point tau time ago.

        ## Priming of the oscillations
        Running the simulation with generic values for the kinetic parameters is useful to determine the general behaviour of the system. The first task was to see how just the oscillatory circuit presented in the previous paragraphs behaves. The simulation was run with both some initial amount of AHL, denoted "primed", and with no initial AHL, denoted "non-primed". The "primed" scenario is supposed to represent a system where AHL from surrounding cells enters the population in question, or when the oscillation is kickstarted by addition of AHL into the culture. The "non-primed" scenario is when the culture is left to itself, without any external stimulus from the researchers or other cells.

    +carousel(2, 'Osc', 'Model--Osc_NotPrimed.png','Model--Osc_Primed.png')
    
    :markdown-it(html)
        The simulation shows that oscillations are indeed possible with this circuit. The oscillations start immediately when "primed", but take longer to form when not "primed". The leaky transcription is eventually enough to start the positive feedback loop, which starts the oscillations of the system. Since the culture is going to remain for some time, it can therefore be concluded that oscillations will start eventually, regardless of whether the initial AHL is present or not. Future simulations will however be "primed" with initial AHL. This conclusion does however eliminate any future system where the oscillations would be activated by an initial burst of the same AHL (in this case, the cognate AHL is C4-HSL) as the oscillations start regardless.
    
        ## Initial design and induction
        The second step is to create a system that can be induced. The initial design was to integrate a key part of the oscillatory circuit (RhlR) under an inducible promoter, and have the reporter gene under the pRhl promoter. The reporter gene in the final circuit would be MtrB, which in the knockout strain of Shewanella Oneidensis would complete the Mtr complex and allow it to produce electricity. While independently developed, this initial design is similar to the one used by the 2015 NYMU iGEM team. [http://2015.igem.org/Team:NYMU-Taipei]

    - var imgpath = "" + require("../assets/img/Model--Overview_Ori.png")["default"]
    +image(3, imgpath, "Caption", 100)
  
    :markdown-it(html)
        The inducible promoter would be the pLux promoter, which together with LuxR can receive  3OC6-HSL from E. coli. When there is no 3OC6-HSL present in the sample, there should be no induction of pLux, which in turn would result in no transcription of RhlR. The oscillatory circuit is then incomplete and should not produce any signal. The RhlR concentration here is not static, but requires its own equation. The reporter gene "X" remains under the control of pRhl, but the induction of the pRhl promoter gains another term: the concentration of RhlR. The 3OC6-HSL concentration receives the notation "H2"The set of DDEs then becomes the following.

        $$ \frac{\partial [RhlI]}{\partial t} = \frac{V_{max,i}}{K_m \times [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [RhlR] \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [RhlI]}{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [AiiA]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [RhlR] \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [AiiA] }{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [X]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [RhlR] \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [X]}{K_{g} + [RhlI] + [AiiA] + [X] } $$
        $$ \frac{\partial [RhlR]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{2,t-\tau}]^2 } + \frac{V_{max,a} \times [H_{2,t-\tau}]^2}{K_m + [H_{2,t-\tau}]^2 } - \frac{V_{max,g} \times [RhlR]}{K_{g} + [RhlR] } $$
        $$ \frac{\partial [H]}{\partial t} = \frac{V_{max,H} \times [RhlI]}{K_H + [RhlI] } - \frac{k_{cat,g} \times [AiiA] \times [H]}{K_G+[AiiA]} $$

        The simulation was run with different induction points, that is different timepoints at which the 3OC6-HSL (H2) was added to the system.
    
    +carousel(4, 'Osc1', 'Model--Osc1_Induced.png','Model--Osc1_Induced50.png','Model--Osc1_Induced100.png','Model--Osc1_NotInduced.png')
        
    :markdown-it(html)
        The inducible promoter would be the pLux promoter, which together with LuxR can receive  3OC6-HSL from E. coli. When there is no 3OC6-HSL present in the sample, there should be no induction of pLux, which in turn would result in no transcription of RhlR. The oscillatory circuit is then incomplete and should not produce any signal. The RhlR concentration here is not static, but requires its own equation. The reporter gene "X" remains under the control of pRhl, but the induction of the pRhl promoter gains another term: the concentration of RhlR. The 3OC6-HSL concentration receives the notation "H2"The set of DDEs then becomes the following.

        $$ \frac{\partial [RhlI]}{\partial t} = \frac{V_{max,i}}{K_m \times [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [RhlR] \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [RhlI]}{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [AiiA]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [RhlR] \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [AiiA] }{K_{g} + [RhlI] + [AiiA] + [X]} $$
        $$ \frac{\partial [X]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [RhlR] \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [X]}{K_{g} + [RhlI] + [AiiA] + [X] } $$
        $$ \frac{\partial [RhlR]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{2,t-\tau}]^2 } + \frac{V_{max,a} \times [H_{2,t-\tau}]^2}{K_m + [H_{2,t-\tau}]^2 } - \frac{V_{max,g} \times [RhlR]}{K_{g} + [RhlR] } $$
        $$ \frac{\partial [H]}{\partial t} = \frac{V_{max,H} \times [RhlI]}{K_H + [RhlI] } - \frac{k_{cat,g} \times [AiiA] \times [H]}{K_G+[AiiA]} $$

        The simulation was run with different induction points, that is different timepoints at which the 3OC6-HSL (H2) was added to the system.
        
    - var imgpath = "" + require("../assets/img/Model--Overview_New.png")["default"]
    +image(5, imgpath, "Caption", 100)
        
    :markdown-it(html)
        This does not require any new genes in the system, but simply a rearrangement, where LuxR is placed under oscillation, and MtrB under the pLux promoter. The system of equations in this improved system is the following.

        $$ \frac{\partial [RhlI]}{\partial t} = \frac{V_{max,i}}{K_m \times [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [RhlI]}{K_{g} + [RhlI] + [AiiA] + [LuxR]+ [X]} $$
        $$ \frac{\partial [AiiA]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [AiiA] }{K_{g} + [RhlI] + [AiiA] + [LuxR]+ [X]} $$
        $$ \frac{\partial [LuxR]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{t-\tau}]^2 } + \frac{V_{max,a} \times [H_{t-\tau}]^2}{K_m + [H_{t-\tau}]^2 } - \frac{V_{max,g} \times [LuxR]}{K_{g} + [RhlI] + [AiiA] + [LuxR] + [X]} $$
        $$\frac{\partial [X]}{\partial t} = \frac{V_{max,i}}{K_m + [H_{2,t-\tau}]^2 } + \frac{V_{max,a} \times [H_{2,t-\tau}]^2}{K_m + [H_{2,t-\tau}]^2 } - \frac{V_{max,g} \times [X]}{K_{g} + [RhlI] + [AiiA] + [LuxR] + [X]} $$
        $$ \frac{\partial [H]}{\partial t} = \frac{V_{max,H} \times [RhlI]}{K_H + [RhlI] } - \frac{k_{cat,g} \times [AiiA] \times [H]}{K_G+[AiiA]} $$

        The simulation was run with different induction points. The parameters remained the same as in the simulation with the initial design.

    +carousel(6, 'Osc2', 'Model--Osc2_Induced.png','Model--Osc2_Induced55.png','Model--Osc2_Induced100.png','Model--Osc2_NotInduced.png')
        
    :markdown-it(html)
        The oscillations of the system are active from the beginning, but no significant level of MtrB ("X") is produced. This allows the cells to synchronize as the levels of C4-HSL ("H") is oscillating from the very start, regardless of 3OC6-HSL ("H2") signals. When 3OC6-HSL is added to the system, the levels of MtrB oscillates with the rest of the system at much higher levels.

        This was chosen as the circuit to implement in the project.

        ## Supplementary:
        The generic simulation was run with the following parameters:

        // INSERT TABLE
    
    :markdown-it(html)
        # Molecular Dynamics
        Molecular dynamics computations were used in order to estimate the binding energy of several N-acyl homoserine lactones (AHLs) to AiiA. AHLs are targeted by lactonases such as AiiA (originally found in bBacillus thuringiensis), which hydrolases their lactone bond upon binding. This results in quenching of quorum sensing signaling.  AutoDock [Morris et al., 2019](#citation1) was used to determine different binding positions and their respective docking energies. The conformation with the lowest binding energy was selected for comparison.
        
        In these computations, we investigated the affinity of C4-HSL (noted HL4_ideal), C8-HSL (noted HTF), C6-oxo-HSL (noted HL6-ideal) for AiiA (PDB entry 2a7m, 10.2210/pdb2A7M/pdb). 

        Because AiiA is a metalloenzyme containing two Zinc atoms the default autodock software does not assign any partial charge and is not appropriate (the Zn coordination sphere does not give explicit bonds, which is a problem for the algorithm), a tetrahedral Zn specific force field (with directional potentials) was used to modelize the enzyme [Santos-Martins et al.,2014](#citation2) instead of the default forcefield. The Lamarckian Genetic Algorithm was chosen as the docking algorithm, with a maximum of 2500000 energy evaluations. Molecular dynamics algorithms take into account the geometric constraints of both molecules and determine the best binding position by varying atoms’ positions when possible and minimizing the free-energy of binding. The free-energy of binding is calculated thanks to an Amber force field by adding contributions that are intermolecular (Van der Waals, hydrogen bonds, desolvation and electrostatic energies) and intramolecular (torsional change in energy).
        
        ## HL4-ideal
        (N-[(3S)-2-oxotetrahydrofuran-3-yl]butanamid)

        A grid centered on (12.736, 33.873, 28.824) was created, with 76 points in the x-direction, 72 in the y-direction and 58 in the z-direction. The distance between two points was 0,542Å.

        The best binding position gave a free energy of binding of -5,06kcal/mol and inhibition constant of 195.69 µM at 298.15 K.

    - var imgpath = "" + require("../assets/img/Model--inthl4.png")["default"]
    +image(7, imgpath, "Caption", 60)

    :markdown-it(html)
        ## HL6-ideal
        (N-[(3S)-2-oxotetrahydrofuran-3-yl]hexanamide)
        
        A grid centered on (12.736, 33.873, 28.824) was created, with 112 points in the x-direction, 78 in the y-direction and 66 in the z-direction. The distance between two points was 0,386Å.

        The best binding position gave a free energy of binding of -5,16kcal/mol and inhibition constant of 164,60 µM at 298.15 K.

    - var imgpath = "" + require("../assets/img/Model--inthl6.png")["default"]
    +image(8, imgpath, "Caption", 60)
    
    :markdown-it(html)

        ## HTF-ideal
        (N-(2-OXOTETRAHYDROFURAN-3-YL)OCTANAMIDE)
        
        A grid centered on (12.736, 33.873, 28.824) was created, with 112 points in the x-direction, 78 in the y-direction and 66 in the z-direction. The distance between two points was 0,386Å.

        The best binding position gave a free energy of binding of -5.25 kcal/mol and inhibition constant of 140.75 µM at 298.15 K.


    - var imgpath = "" + require("../assets/img/Model--inthl8.png")["default"]
    +image(9, imgpath, "Caption", 60)

    :markdown-it(html)
    
        The binding energies and inhibition constants are summarized in table 1 below. From this molecular dynamics analysis, we can conclude that there are crosstalks between different types of AHLs and AiiA, which might be a problem in our circuit given that both C6 and C4 are present. For further improvement, C4 could be modified so that its interactions with AiiA are improved and favored compared to other lactones.  Another option would be to change the pair for other more specific molecules.    
    :markdown-it(html plugins=['markdown-it-multimd-table'])

        |--|C4|C6|C8|
        |---| --------- | ---------- |-------|
        |Binding energy (kcal/mol)|-5.06|-5.16|-5.25|
        |Inhibition constant (µM)|195.69|164.60|140.75|
        [Table 2: Binding energies and inhibition constants for different AHLS]
//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"authors": "Morris, G. M., Huey, R., Lindstrom, W., Sanner, M. F., Belew, R. K., Goodsell, D. S., & Olson, A. J. (2009). ", "doi": "https://doi.org/10.1002/jcc.21256", "journal": "Journal of Computational Chemistry", "numbers": "30(16), 2785-2791. ", "title": "AutoDock4 and AutoDockTools4: Automated docking with selective receptor flexibility.", "type": "article"}, {"authors": "Santos-Martins, D., Forli, S., Ramos, M. J., & Olson, A. J. (2014). ", "doi": "https://doi.org/10.1021/ci500209e", "journal": "Journal of Chemical Information and Modeling", "numbers": "54(8), 2371-2379. ", "title": "AutoDock4Zn: An Improved AutoDock Force Field for Small-Molecule Docking to Zinc Metalloproteins.", "type": "article"}, {"authors": "Ingalls, B. P.", "publisher": "MIT Press.", "title": "Mathematical modeling in systems biology: An introduction.", "type": "book", "year_published": "(2013)."}, {"details": "(March 15, 2019). Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}, {"authors": "Author Name. (n.d.).", "details": "Retrieved on June 22, 2020. from ", "title": "Agriculture: Crop production: Sugarcane. TNAU Agritech Portal.", "type": "webpage", "url": "https://google.com"}, {"authors": "Danino, T., Mondrag  n-Palomino, O., Tsimring, L., & Hasty, J. (2010). ", "doi": "https://doi.org/10.1038/nature08753", "journal": "Nature", "numbers": "463(7279), 326-330. ", "title": "A synchronized quorum of genetic clocks.", "type": "article"}, {"authors": "O-Brien, E. L., Van Itallie, E., & Bennett, M. R. (2012). ", "doi": "https://doi.org/10.1016/j.mbs.2012.01.001", "journal": "Mathematical Biosciences", "numbers": "236(1), 1-15. ", "title": "Modeling synthetic gene oscillators.", "type": "article"}, {"authors": "Stricker, J., Cookson, S., Bennett, M. R., Mather, W. H., Tsimring, L. S., & Hasty, J. (2008). ", "doi": "https://doi.org/10.1038/nature07389", "journal": "Nature", "numbers": "456(7221), 516-519. ", "title": "A fast, robust and tunable synthetic gene oscillator.", "type": "article"}, {"authors": "Elowitz, M. B., & Leibler, S. (2000). ", "doi": "https://doi.org/10.1038/35002125", "journal": "Nature", "numbers": "403(6767), 335-338. ", "title": "A synthetic oscillatory network of transcriptional regulators.", "type": "article"}, {"authors": "Michael, Sigmund, Amy, Jessica, Carryll, Albert, Emily, Eric, Kevin, Jane, Kathleen, Golden, Raymond, Shoi-Yi, Alvin, Huiru, Fiona. (n.d.).", "details": "Retrieved on May 4, 2020. from ", "title": "NYMU Taipei 2015. Fight the Blight: Defending the potatoes.", "type": "webpage", "url": "http://2015.igem.org/Team:NYMU-Taipei"}]