extends ../templates/contents.pug

block headVars
    - var title = "Notebook"
    - var tagline = "Experimental procedure schedule"
    - var requireMathJax = false
    - var topimg = "notebook"

block article

    :markdown-it(html)

      # June
      
      ##### 18/06 - 19/06
      - Acquired *Shewanella oneidensis*, *Shewanella putrefaciens*, *Escherichia coli* MFDpir for conjugation and *Escherichia coli* DH5a containing the pSRK-Km plasmid for *Shewanella oneidensis* expression
      - Prepared glycerol stocks of obtained strains

      ##### 25/06 - 26/06
      - Purified pSRK-Km from *E.coli* DH5a

      # July
      
      ##### 01/07 - 03/07
      - Created chemically competent *E.coli* MFDpir for transformation
      - Performed test transformations of MFDpir and TOP10 chemically competent *E.coli*
      - Amplified BioBricks from Uppsala iGEM 2020 team
      
      ##### 06/07 - 11/07
      - Acquired *Shewanella oneidensis* wildtype (WT) and MtrB knockout strains, and *Chromobacterium Violaceum* CV026 for biological AHL assays
      - Prepared glycerol stocks of obtained strains
      - Amplified BioBricks from Stockholm iGEM 2019 team
      - Transformed and amplified BioBricks in vivo
      - Electroporation of electrocompetent cells
      
      ##### 15/07 - 17/07
      - Assembly of BioBricks was attempted, but incomplete digestion gave too high background or no successful ligations
      
      ##### 23/07
      - Restriction digest troubleshooting
      
      ##### 27/07 - 31/07
      - Acquired gBlocks of constructs or partial constructs
      - PCR amplified gBlocks
      - Purification of pSB1C3 for ligating gBlocks into

      # August
      
      ##### 03/08 - 07/08
      - Transformed to amplify gBlocks in vivo
      
      ##### 10/08 - 14/08
      - Colony PCR to select successful constructs
      - Amplified gBlocks in vivo
      
      ##### 17/08-21/08
      - Started MFC with *Shewanella oneidensis* WT
      - PCR amplified gBlocks
      - Colony PCR to select successful constructs
      - Transformed to amplify gBlocks in vivo
      - Attempted to assemble construct from partial constructs
      
      ##### 24/08-31/08
      - Colony PCR to select successful constructs
      - *Chromobacterium* assay to check for presence of AHL
      - Ran Western blot to check for protein expression in constructs

      # September
      
      ##### 01/09-05/09
      - Transformed to amplify gBlocks in vivo
      - Ran Western blot
      - Colony PCR to select successful constructs
      - Added LB media to MFC
      - Replaced MFC media with M9 minimal media with lactate
      
      ##### 07/09-13/09
      - Stopped running MFC
      - Measured fluorescence intensity of constructs to check leakiness of promoters
      - *Chromobacterium* assay
      - Ran Western blot
      - Attempted to assemble oscillation constructs
      - Acquired PFOS and 1,1-biphenyl, prepared stock solutions
      
      ##### 15/09-17/09
      - Colony PCR to select successful constructs
      
      ##### 22/09-27/09
      - Ran viability test with pollutants
      - Prepared positive control (Ftsh1-Myc) for Western blot
      - Ran Western blot
      
      ##### 28/09-30/09
      - Measured fluorescence intensity of constructs induced with pollutants

      # October
      
      ##### 01/10-04/10
      - Measured fluorescence intensity of constructs when induced with constructs producing AHL synthases and/or pollutants
      - Ran Western blot
      - Ran viability tests with higher pollutant concentrations
      
      ##### 05/10-11/10
      - Started MFC with *Shewanella oneidensis* MtrB KO
      - Repeated viability test with higher pollutant concentrations
      - *Chromobacterium* assay with constructs producing AHL synthases
      
      ##### 12/10-17/10
      - Ran Western blot
      - Measured fluorescence intensity of constructs when induced with QS molecules and/or pollutants
      - *Chromobacterium* assay for AHL

      # Detailed Lab Journals
      
      Below are the detailed lab journal files. The first part ranges from the beginning until the 17th of August, and the second part picks up from there.

      [Lab Journal Part 1](https://2020.igem.org/wiki/images/4/43/T--Stockholm--labjournal1.pdf)
      
      [Lab Journal Part 2](https://2020.igem.org/wiki/images/1/11/T--Stockholm--labjournal2.pdf)
