include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Poster | iGEM Stockholm
  body
    include ../templates/nav.pug
    .parent
      header.d-flex.justify-content-center.align-items-center
        .container
          .wave.wave1
          .wave.wave2
          .wave.wave3

      main
        .container
          .title
            h1 Poster
          .row
            .content.col

      include ../templates/footer.pug
