include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Poster | iGEM Stockholm
    style(type="text/css").
        
      /*general poster wrapper */
      .poster_w{
        float:left;
        margin: 1% 2%;
        padding: 0px;
        width: 46%;
      }
      /*rows*/
      .poster_w.content .row { clear: both; float:left; width:100%; cursor: pointer;}
      .poster_w.content .tail{ pointer-events: none;}

      /*sections */
      .poster_w.content .row .section, 
      .poster_w.display #section_text .subsection{ float:left; }	
      
      
      /*different section sizes*/
      .poster_w.content .row .section.full,
      .poster_w.display #section_text .subsection.full{ width: 99%; }	
        
      .poster_w.content .row .section.three_quarters,
      .poster_w.display #section_text .subsection.three_quarters { width:75%;}
      
      .poster_w.content .row .section.two_thirds,
      .poster_w.display #section_text .subsection.two_thirds{ width:66%;}
      
      .poster_w.content .row .section.half,
      .poster_w.display #section_text .subsection.half{ width:49.5%;}
      
      .poster_w.content .row .section.third,
      .poster_w.display #section_text .subsection.third{ width:33%;}
      
      .poster_w.content .row .section.quarter,
      .poster_w.display #section_text .subsection.quarter{ width:24%;}	
      
      
      /*hide title, text and highlight images  by default*/
      .poster_w.content .row .section .info{ display: none;}
      
      /*styling for when the user hovers on the image on the content side*/
      .poster_w.content img:not(.tail){transition: filter 0.5s;}
      .poster_w.content img:not(.tail):hover{opacity: 100%; filter: contrast(200%);}
      .poster_w.content .tail:hover{opacity: 100%;}
      .poster_w.display img:hover{opacity: 100%;}
      
      /*class for clearing between sections */
      .poster_w .clear{
        clear:both;
      }
      
      /*mobile*/
      @media only screen and (max-width: 850px){
        .poster_w {width:100%;}
      } 
  body
    include ../templates/nav.pug
    .parent
      header.d-flex.justify-content-center.align-items-center
        .container
          .wave.wave1
          .wave.wave2
          .wave.wave3
      main
        .container
          .title
            h1 Poster
          .row
            .content.col
              // -Place the content of your poster inside this div-
              .poster_w.content
                // This is the first row of the poster, it contains the title section -
                .row-poster
                  #title.section.full.first_text
                    img(src='https://2020.igem.org/wiki/images/3/34/T--Stockholm--Poster_title.png')
                    .info
                      .title Title
                      .text
                        | You should list all authors and their affiliations here. You can also add the project's abstract.
                .row-poster
                  #introduction.section.full.first_text
                    img(src='https://2020.igem.org/wiki/images/2/2a/T--Stockholm--Poster_introduction.png')
                    .info
                      .title Introduction
                      .text
                        | You should list all authors and their affiliations here. You can also add the project's abstract.
                .row-poster
                  #engineering.section.half
                    img(src='https://2020.igem.org/wiki/images/4/46/T--Stockholm--Poster_engineering.png')
                    .info
                      .title Engineering
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                  #model.section.half
                    img(src='https://2020.igem.org/wiki/images/9/9d/T--Stockholm--Poster_model.png')
                    .info
                      .title Model 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                .row-poster
                  #mfc.section.third
                    img(src='https://2020.igem.org/wiki/images/b/be/T--Stockholm--Poster_mfc.png')
                    .info
                      .title MFC 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                  #characterization.section.third
                    img(src='https://2020.igem.org/wiki/images/f/f9/T--Stockholm--Poster_characterization.png')
                    .info
                      .title Characterization 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                  #conclusion.section.third
                    img(src='https://2020.igem.org/wiki/images/5/51/T--Stockholm--Poster_conclusion.png')
                    .info
                      .title Conclusion 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                .row-poster
                  #implementation.section.third
                    img(src='https://2020.igem.org/wiki/images/6/68/T--Stockholm--Poster_implementation.png')
                    .info
                      .title Implementation 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                  #contribution.section.third
                    img(src='https://2020.igem.org/wiki/images/6/6e/T--Stockholm--Poster_contribution.png')
                    .info
                      .title Contribution 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                  #attributions.section.third
                    img(src='https://2020.igem.org/wiki/images/2/21/T--Stockholm--Poster_attributions.png')
                    .info
                      .title Attributions 
                      .text
                        | What inspired your team? What motivated you to work on this particular project?
                  .row-poster.tail
                  #tail.section.full.first_text.tail
                    img(src='https://2020.igem.org/wiki/images/a/a8/T--Stockholm--Poster_tail.png').tail
              .poster_w.display
                h3#section_title
                p#section_text

      include ../templates/footer.pug
