extends ../templates/contents.pug

block headVars
    - var title = "Proof of Concept"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = false
    - var topimg = "proof"

block article

    :markdown-it(html)

        # Headings
        ## Level 2 Heading
        ### Level 3 Heading
        #### Level 4 Heading

        # Emphasis
        This is regular text.

        **This is bold text.**
        __This is also bold text.__

        *This is italic text.*
        _This is also italix text.*

        ***This text is bold and italic both.***
        ___This text is bold and italic both.___

        ~~Strikethrough~~

        # Lists
        1. This is item one.
        1. This is item two.
        1. It's okay to number every item as 1.
            * This is a nested list.
            * Use asterisk for an unordered list,
            * Further nesting?
            + Plus sign also works.
            - And so does minus.
        1. ~~Birds aren't real.~~

        # Links
        [Google](https://google.com)

        [Text goes in square brackets](Link-goes-in-parenthesis)

        # Blockquote

        > This is a blockquote.
        > This continues in the same paragraph.
        >
        > To change the paragraph, you have to leave a line.

        > This is another blockquote.
        > 
        > **Pranav Ballaney, 2020**

        # Images

        This is a regular paragraph. 
        #### This is a level 4 heading. 
        [This is a link](google.com)

    - var imgpath = "" + require("../assets/img/Description--josh-withers.png")["default"]
    +image(1, imgpath, "Caption", 100)

    :markdown-it(html)
        Back to regular text.

        # Tables

        This is a regular paragraph, which precedes the table.
        When you want to insert a table, indent one level back and specify the plugin.
        Then indent inside again and start writing the table.

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | This is | the table | header row |
        | ------  | --------- | ---------- |
        | 1       | 2         | 3          |
        | 4       | 5         | 6          |
        [Table 1: Caption goes here.]

    :markdown-it(html)
        And when you're done, go back to the regular markdown filter.

    :markdown-it(html)
        **Example 2:**

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        | Left aligned | Center aligned | Right aligned |
        | :----------- | :------------: | ------------: |
        | 1 | 2 | 3 |
        | 4 | 5 | 6 |

    :markdown-it(html)
        **Example 3:**

    :markdown-it(html plugins=['markdown-it-multimd-table'])
        |              |          Grouping           ||
        |First Header  | Second Header | Third Header |
        | ------------ | :-----------: | -----------: |
        |Content       |          *Long Cell*        ||
        |Content       |   **Cell**    |         Cell |                                               
        |New section   |     More      |[Data](https://google.com) |
        |And more      | With an escaped '\|'       ||

        [Table 3: Caption goes here.]

    :markdown-it(html)

        # Definitions

        <dfn>Term ~ Definition</dfn>

        This can come <dfn>anywhere in ~ the text</dfn>.