extends ../templates/contents.pug

block headVars
    - var title = "Safety"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = false
    - var topimg = "safety"

block article

    :markdown-it(html)

        # Overview
        S-POP is a modular biosensor which detects Persistent Organic Pollutants (POPs) with an electrical output. In our project, we have used common, non-pathogenic strains to ensure the safety of the procedures. This page is dedicated to ensuring the community about the safety of our project. [Here](https://2020.igem.org/Safety/Final_Safety_Form?team_id=3440) you can find the safety form as it was submitted to the iGEM competition, including more in-depth details.

        # Safety training
        All the lab members were trained in basic lab procedures and emergency procedures. Gunaratna Kuttuva Rajarao and Maximilian Karlander held some seminars at AlbaNova. Also, Ute Römling held a training day at Biomedicum, Karolinska Institutet. Daily advice on safety questions was given by the instructors, the advisors, the supervisors and specialized researchers. In the training the following points were discussed:
        - Lab access and rules
        - Emergency exits
        - How to react in alarms and emergency situations
        - Emergency phone numbers
        - Transport of cultures and chemicals
        - Good Microbial Technique
        - Waste disposal
        - Chemical safety

        # Laboratory safety
        All the biological procedures were performed on an open bench at AlbaNova and Biomedicum. During the lab work, all the safety guidelines were followed, including protective equipment. Lab members were not working alone and were making sure that there was at least one specialist nearby in case of emergency. The handling of chemicals was performed according to the current regulations. An agreement between the research groups was signed and followed thoroughly. The risk was minimised by replacing PCB with 1,1-biphenyl and by handling the chemicals in a liquid form instead of powder form. As an added level of protection, team members were working under fume hood when handling the chemicals.
        
        # Organisms
        In our project we have used two common species of bacteria. _Escherichia coli_ is a Gram-negative bacterium, commonly used in the lab. It can be manipulated in Biosafety Level 1 facilities in an easy and safe way. It is not posing any risks to the lab colleagues or the environment, if handled according to regular safety procedures. For our experiments we used _E. coli_ TOP-10 cells and _E. coli_ K-12 cells.

        _Shewanella oneidensis_ is a Gram-negative bacterium that can survive either in aerobic or anaerobic conditions. It is an environmental strain, commonly found in terrestrial and aquatic environments and can produce electric signals. According to the current regulations, it can be manipulated in Biosafety Level 1 facilities, posing no human or environmental risk when handled according to instructions. For our experiments we used _S. oneidensis_ MR-1 cells and _S. oneidensis_ MR-1 MtrB knockout cells.

        # Safety of biosensor

        The suggested biosensor is considered safe for both the user and the environment. Despite the presence of cultures, the microbial fuel cell (MFC) is an enclosed system without leakage. The presence of transformed bacteria does not pose any additional risk when handled properly. Furthermore, the electrical output should be in very low voltage without risk of injuries.
        
        # Specific risks
        Our project does not include gene drives. In addition we have not worked with animals, human cells or pathogens. We have only applied the standard antibiotics used in laboratory facilities (ampicillin, gentamicin, chloramphenicol, kanamycin) and we have disposed of them according to AlbaNova's and Biomedicum rules. We have strictly followed AlbaNova's and Biomedicum rules and agreements throughout the whole project.