// COLORS

$item_light: #111111;
$bg_light: #eeeeee;
$sky_light: #b9dce2;
$tableborder_light: #2c2c2c;

$item_dark: #eeeeee;
$bg_dark: #111111;
$sky_dark: #242242;
$tableborder_dark: #a7a7a7;

$highlight_light: #ef4f59;
$highlight_dark: #5ec1b2;