// COLORS

$item_light: #1f1f1f;
$bg_light: #dadada;
$sky_light: #b4c4c7;
$tableborder_light: #2c2c2c;

$item_dark: #dadada;
$bg_dark: #1f1f1f;
$sky_dark: #272641;
$tableborder_dark: #a7a7a7;

$highlight: #ef4f59;