// COLORS

$item_light: #111111;
$bg_light: #eeeeee;
$sky_light: #b9dce2;
$tableborder_light: #414141;

$item_dark: #eeeeee;
$bg_dark: #111111;
$sky_dark: #242242;
$tableborder_dark: #9e9e9e;

$highlight_light: #ef4f59;
$highlight_dark: #5ec1b2;