/**
 * Footer
 **/

$item_light: #dadada;
$bg_light: #1f1f1f;

$item_dark: #1f1f1f;
$bg_dark: #dadada;

$highlight: #ef4f59;

footer {
  background: $bg_light;
  padding: 2rem;

  .social_media {
    text-align: center;
  }
  a {color: $highlight;}
}

//DARK MODE
body.dark {
  footer {background: $bg_dark;}
}
