// COLORS

$item_light: #dadada;
$bg_light: #1f1f1f;

$item_dark: #1f1f1f;
$bg_dark: #dadada;

$highlight: #ef4f59;

// LIGHT MODE

body{
  footer {
    background: $bg_light;
    color: $item_light;
    a, svg {color: $highlight;}
    p, h1, h2, h3, h4, h5, h6 {color: $item_light;}
  }
}

//DARK MODE

body.dark {
  footer {
    background: $bg_dark;
    a, svg {color: $highlight;}
    p, h1, h2, h3, h4, h5, h6 {color: $item_dark;}
  }
}

// MAIN

body{
  footer {
    padding: 2rem;

    .social_media {
      margin: 2rem 0;
      text-align: center;
      a {
        font-size: 3rem;
        margin: 0 0.5rem;
      }
    }
  }
}