@import "~bootstrap-reboot";
@import "igem-reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "fix-bootstrap.scss";
@import "_fonts.scss";
@import "_media_queries.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "_wave.scss";
@import "_colors.scss";
@import "_parent.scss";

// LIGHT MODE

body {
  background: $bg_light;
  p, h1, h2, h3, h4, h5, h6, svg {color: $item_light;}
  &::-webkit-scrollbar {background-color: $bg_light;}
  &::-webkit-scrollbar-thumb {background-color: $item_light;}
}

// DARK MODE

body.dark {
  background: $bg_dark;
  p, h1, h2, h3, h4, h5, h6, svg {color: $item_dark;}
  &::-webkit-scrollbar {background-color: $bg_dark;}
  &::-webkit-scrollbar-thumb {background-color: $item_dark;}
}

// MAIN
html {
  p, a, h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans';}
  .parent{scroll-behavior: smooth;}
  .carousel {
    margin: 1rem 0;
    .carousel-control-next, .carousel-control-prev, .carousel-indicators {filter: invert(100%);}
  
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }
    .active {opacity: 1;}
    .active.left, .active.right {opacity: 0;}
    .next.left, .prev.right {opacity: 1;}
  }
}

// SCROLLBAR
::-webkit-scrollbar {width: 0.8rem; height: auto;}