@import "~bootstrap-reboot";
@import "igem-reset.scss";
@import "~bootstrap/scss/bootstrap";
@import "fix-bootstrap.scss";
@import "_fonts.scss";
@import "_media_queries.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "_wave.scss";

// COLORS

$item_light: #1f1f1f;
$bg_light: #dadada;

$item_dark: #dadada;
$bg_dark: #1f1f1f;

$highlight: #ef4f59;

// LIGHT MODE

body {
  background: $bg_light;
  p, h1, h2, h3, h4, h5, h6 {color: $item_light;}
}

// DARK MODE

body.dark {
  background: $bg_dark;
  p, h1, h2, h3, h4, h5, h6 {color: $item_dark;}
}

// MAIN

body {
  scroll-behavior: smooth;
}