@import "_colors.scss";

// LIGHT MODE
body {
  .navbar {
    background: $bg_light;
    a {color: $item_light;
      &:hover {
        color: $highlight_light;
        background: none;
      }
    }
    .dropdown-menu {background: $bg_light;}
    .navbar-collapse {background: $bg_light;}
    .navbar-toggler {color: $item_light;}
  }
  #themeSwitchWrapper {svg {color: $item_light;}}
}
// DARK MODE

body.dark {
  .navbar {
    background: $bg_dark;
    a {color: $item_dark;
      &:hover {
        color: $highlight_dark;
        background: none;
      }
    }
    .dropdown-menu {background: $bg_dark;}
    .navbar-collapse {background: $bg_dark;}
    .navbar-toggler {color: $item_dark;}
  }
  #themeSwitchWrapper {svg {color: $item_dark;}}
}


// MAIN

.navbar {
  height: 5rem; top: 18px;
  margin: auto; padding: 0;

  a {
    font-family: 'Open Sans';
    font-weight: 400;
    &:hover {background: none;}
  }
  .dropdown-menu {
    border: 0;
    a {font-weight: 300;}
  }
}

// DARK MODE TOGGLE SWITCH

#themeSwitchWrapper {
  position: relative;
  margin-left: 1rem;

  svg {margin: auto;}

  #themeSwitch {

    label.switch {
      position: relative;
      width: 50px; height: 20px;
      margin: 0 1rem;

      input {opacity: 0; width: 0; height: 0;} // hides checkbox
    }

    .slider {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      cursor: pointer;
    }

    .slider:before {
      position: absolute;
      content: ""; // creates the circle
      height: 14px; width: 14px;
      left: 3px; top: 3px;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
      transform: translateX(30px);
    }

    // rounded sliders
    .slider.round {border-radius: 10px;}
    .slider.round:before {border-radius: 50%;}

    // slider button colors
    .slider:before {background: $bg_light;}
    input:checked + .slider:before {background: $item_light;}
    // slider colors
    .slider.round {background: $bg_dark;}
    input:checked + .slider.round {background: $item_dark;}
  }
}

// MEDIA QUERIES

@include respond-below(lg) {

  .navbar {
    .navbar-brand {margin-left: 2rem;}

    .container {
      max-width: none;
      height: 100%;
    }

    .navbar-toggler {
      height: 100%;
      margin-right: 10rem;
    }
    .navbar-collapse {padding: 0 2rem 2rem 2rem;}
  }
  #themeSwitchWrapper {
    position: absolute;
    right: 2rem;
  }
}

@include respond-below(xxs) {
  .navbar {
    .navbar-brand {margin-left: 1.5rem;}
    .navbar-toggler {margin-right: 1.5rem;}
  }
  #themeSwitchWrapper{
    right: 4rem;
    svg{display: none;}
  }
}