// COLORS

$item_light: #1f1f1f;
$bg_light: #dadada;

$item_dark: #dadada;
$bg_dark: #1f1f1f;

$highlight: #ef4f59;

// LIGHT MODE

.navbar {
  background: $bg_light;
  height: 5rem; top: 18px;
  margin: auto; padding: 0;

  a {color: $item_light;
    &:hover {
      color: $highlight;
      background: none;
    }
  }

  .dropdown-menu {
    background-color: $bg_light;
    border: 0;
  }

  .navbar-collapse {background-color: $bg_light;}

  .navbar-toggler {color: $item_light;}
}

// DARK MODE TOGGLE SWITCH

#themeSwitchWrapper {
  position: relative;
  margin-left: 1rem;

  svg {
    margin: auto;
    color: $item_light;
  }

  #themeSwitch {

    label.switch {
      position: relative;
      width: 50px; height: 20px;
      margin: 0 1rem;

      input {opacity: 0; width: 0; height: 0;} // hides checkbox
    }

    .slider {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      cursor: pointer;
    }

    .slider:before {
      position: absolute;
      content: ""; // creates the circle
      height: 14px; width: 14px;
      left: 3px; top: 3px;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(29px);
      -ms-transform: translateX(29px);
      transform: translateX(29px);
    }

    // rounded sliders
    .slider.round {border-radius: 34px;}
    .slider.round:before {border-radius: 50%;}

    // slider button colors
    .slider:before {background: $item_dark;}
    input:checked + .slider:before {background: $item_light;}
    // slider colors
    .slider.round {background: $bg_dark;}
    input:checked + .slider.round {background: $bg_light;}
  }
}

// DARK MODE

body.dark {
  .navbar {
    background: $bg_dark;
    a {color: $item_dark;
      &:hover {background: none;}
    }
    .dropdown-menu {background-color: $bg_dark;}
    .navbar-toggler {color: $item_dark;}
    .navbar-collapse {background-color: $bg_dark;}
  }
  #themeSwitchWrapper {svg {color: $item_dark;}}
}

// MEDIA QUERIES

@include respond-below(lg) {

  .navbar {
    .navbar-brand {margin-left: 2rem;}

    .container {
      max-width: none;
      height: 100%;
    }

    .navbar-toggler {
      height: 100%;
      margin-right: 10rem;
    }
    .navbar-collapse {padding: 0 2rem 2rem 2rem;}
  }
  #themeSwitchWrapper {
    position: absolute;
    right: 2rem;
  }
}

@include respond-below(xxs) {
  .navbar {
    .navbar-brand {margin-left: 1.5rem;}
    .navbar-toggler {margin-right: 1.5rem;}
  }
  #themeSwitchWrapper{
    right: 4rem;
    svg{display: none;}
  }
}