@import "_main.scss";

// SKY IMAGES

$celestial_light: "../assets/img/Home--sun.png";
$celestial_dark: "../assets/img/Home--stars.png";

// LIGHT MODE

body {

  header {
    background-color: $sky_light;
    background-image: url($celestial_light);

    .topimg {filter: brightness(1.3);}

  }

  .sidebar {
    #contents {
      li {
        &:hover {a, svg {color: $highlight_light;}}
        svg {color: $item_light;}
        a {color: $item_light;}
      }
    }
  }

  .content {

    .MathJax_Display {
      filter: invert(0);
      span {color: $item_light;}
    }

    p, h1, h2, h3, h4, h5, h6, li, strong {color: $item_light;}
    a {color: $highlight_light;}

    .mf {filter: brightness(0);}

    table {
      background: none;
      border-color: $tableborder_light;
      color: $item_light;
      thead {th, td {border-color: $tableborder_light;}}
      tbody {th, td {border-color: $tableborder_light;}}
      tbody tr:nth-of-type(odd) {background-color: #0000001a;}
      th, td {border-color: $tableborder_light;}
    }
    blockquote {
      border-color: $highlight_light;
      &:before {color: $highlight_light;}
    }
  }

  .content p, #references li {a:not(.citation) {&:before, &:after {background-color: $highlight_light;}}}

  #references {
    cite, a {color: $item_light;}
  }
}

// DARK MODE

body.dark {

  header {
    background-color: $sky_dark;
    background-image: url($celestial_dark);

    .topimg {filter: brightness(0.5);}
  }

  .sidebar {
    #contents {
      li {
        &:hover {a, svg {color: $highlight_dark;}}
        svg {color: $item_dark;}
        a {color: $item_dark;}
      }
    }
  }

  .content {

    .MathJax_Display {
      filter: invert(1);
      color: $item_dark;
    }

    p, h1, h2, h3, h4, h5, h6, li, a, strong {color: $item_dark;}
    a {color: $highlight_dark;}

    .neb {filter: invert(0.5) brightness(2);}
    .mf {filter: brightness(2);}
    .ki_innovations {filter: brightness(1.5);}
    .benchling {filter: brightness(2);}
    .snapgene {filter: brightness(1.2);}

    table {
      background: none;
      border-color: $tableborder_dark;
      color: $item_dark;
      thead {th, td {border-color: $tableborder_dark;}}
      tbody {th, td {border-color: $tableborder_dark;}}
      tbody tr:nth-of-type(odd) {background-color: #ffffff1a;}
      th, td {border-color: $tableborder_dark;}
    }
    blockquote {
      border-color: $highlight_dark;
      &:before {color: $highlight_dark;}
    }
  }

  .content p, #references li {a:not(.citation) {&:before, &:after {background-color: $highlight_dark;}}}

  #references {
    cite, a {color: $item_dark;}
  }
}

// ANIMATIONS

@keyframes target-fade {
  0% {background: #76dbcc7f;}
  100% {background: #00000000;}
}

// HEADER

header {
  transition: background-color 0.3s;
  position: relative;
  text-align: center;
  height: 80vh;
  background: fixed no-repeat center;

  h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  h1, p {position: relative; z-index: 5;}

  .topimg {
    transition: filter 0.3s;
    position: absolute; bottom: 0;
    width: 100%; max-width: 50rem;
    left: 50%; transform: translateX(-50%);
  }

  .arrow {
    transition: color 0.3s, bottom 0.3s;
    z-index: 50;
    position: absolute; bottom: 3rem; left: calc(50% - 1.5rem);
    font-size: 3rem;
    &:hover {bottom: 2.5rem;}
  }
}

// MAIN

body {
  transition: background-color 0.3s;
  .row {padding: 4rem 0;}
}

// SIDEBAR

.sidebar {

  #contents {
    position: sticky;
    top: 5vh;
    height: auto;

    h5 {
      position: absolute;
      text-transform: uppercase;
      font-weight: 800;
    }
    ul {
      margin-top: 2rem;

      li {
        transition: transform 0.3s;
        transform-origin: center left;
        margin: 1rem 0;
        display: flex;
        justify-content: left;

        &:hover {transform: scale(1.1);}

        svg {
          margin: auto 0.5rem;
          font-size: 0.8rem;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}

// SPONSORS

.content {
  .sponsor {
    transition: filter 0.3s;
    display: block;
    margin: 1.5rem auto;
    width: 90%; max-width: 20rem;
  }
  .kth, .bus {max-width: 15rem;}
  .ki_innovations {max-width: 30rem;}
}

// CONTENT

.content {

  .MathJax_Display {transition: filter 0.3s, color 0.3s;}

  article {padding: 0 calc(1rem + 1.2vw);}

  h1, h2, h3, h4, h5, h6 {font-weight: 700;}

  h1, h2 {
    scroll-margin-top: 120px;
    .anchor {
      float: left;
      opacity: 0.01;
      background-image: url(../assets/icons/link-solid.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      overflow: visible;

      margin-left: $h1size * -0.7rem;
      border-right-width: 2px;
      height: $h1size * 0.5rem;
      width: $h1size * 0.5rem;

      filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(87%) contrast(84%);
      border: 0px transparent solid;
    }

    &:hover .anchor {opacity: 100;}
  }

  h1 {
    font-size: $h1size * 1rem;
    margin: 2rem 0 1rem 0;
    word-spacing: 0.3rem;

    &:first-of-type {margin-top: 0;}

    button {
      font-weight: 400;
      margin-right: 25px;
    }

    .anchor {margin-top: $h1size * 0.27rem;}
  }

  h2 {
    font-size: $h1size * 0.8rem;
    word-spacing: 0.3rem;
    margin-top: 1.5rem;

    .anchor {margin-top: $h1size * 0.2rem;}
  }

  h3 {
    font-size: $h1size * 0.7rem;
    word-spacing: 0.3rem;
    margin-top: 1.5rem;
  }

  button.section {
    font-size: 2rem;
    padding: 0;

    &:focus {box-shadow: none;}

    &:hover {
      text-decoration: none;
    }
  }

  p {
    text-align: justify;

    .MathJax_Display {
      overflow-x: auto;
      overflow-y: hidden;
    }

    span {
      scroll-margin-top: 200px;

      &:target {animation: target-fade 3s 1;}
    }
  }

  ul {padding-left: 25px;}

  .image {
    text-align: center;

    img {
      padding: 20px;
      width: 90%;
    }

    p {
      text-align: center;
      font-style: italic;
    }
  }

  blockquote {
    font-size: 1.15em;
    width: 75%;
    margin: 50px auto;
    font-style: italic;
    padding: 1.2em 30px 0.7em 60px;
    border-left: 6px solid;
    line-height: 1.6;
    position: relative;

    &:before {
      content: "\201C";
      font-size: 5rem;
      position: absolute;
      left: 10px;
      top: -20px;
    }

    &:after {content: "";}

    strong {
      display: block;
      font-style: normal;
      font-weight: bold;
      margin-top: 1em;
    }
  }
  table {
    border: 1px solid;
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;

    thead {
      th, td {
        vertical-align: bottom;
        border-bottom: 2px solid;
      }
    }

    tbody {th, td {border: 1px solid;}}

    th, td {
      padding: 0.75rem;
      vertical-align: center;
      border: 1px solid;
    }

    a {&:hover {text-decoration: underline;}}

    caption {
      text-align: center;
      font-style: italic;
      margin-top: 15px;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      caption-side: bottom;
    }
  }

  span.in-text:hover {cursor: pointer;}

  a.citation {
    scroll-margin-top: 200px;

    &:target {animation: target-fade 3s 1;}
  }

  dfn {font-style: normal;}
}

// TOOLTIP
.tooltip {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5px;
}

// REFERENCES

.content p, #references li {
  a:not(.citation) {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $highlight_light;
      height: 2px;
    }

    &:before {
      width: 0%;
      left: 0;
      bottom: 0;
    }

    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
    }

    &:hover {
      text-decoration: none;

      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
      }
    }
  }
}

#references {
  ol {padding-inline-start: 30px;}

  li {
    padding: 0 0 20px 10px;
    scroll-margin-top: 100px;

    &:target {animation: target-fade 3s 1;}
  }

  p {
    text-align: left;
    margin-bottom: 0.2rem;

    .journalTitle {font-style: italic;}
  }

  cite {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.75;
    word-spacing: 0.1rem;
  }
  a {
    margin-right: 15px;
    &:before, &:after {height: 2px !important;}
  }
}

// MEDIA QUERIES

@include respond-below(md) {
  header {h1 {font-size: 3rem;}}
  main {.sidebar {display: none;}
  }
}

@include respond-below(xs) {
  header {h1 {font-size: 2rem;}}
}