@import "_main.scss";

/******************************
 * Navbar Inversion
 ******************************/

$navBG: #dadada;
$navItem: #313131;
$navItemHover: #ef4f59;

$navBG-dark: #313131;
$navItem-dark: #dadada;

.navbar:not(.nav-colored) {
  .navbar-brand {color: $navItem-dark;}
  a {color: $navItem-dark;}
  #themeSwitchWrapper {
    svg {color: $navItem-dark;}
    #themeSwitch {
      .slider.round {background-color: $navItem-dark;}
      .slider:before {background-color: $navBG-dark;}
    }
  }
  .dropdown-menu {background-color: $navBG-dark;}
}

body.dark {
  .navbar:not(.nav-colored) {
    .navbar-brand {color: $navItem;}
    a {color: $navItem;}
    #themeSwitchWrapper {
      svg {color: $navItem;}
      #themeSwitch {
        .slider.round {background-color: $navItem;}
        .slider:before {background-color: $navBG;}
      }
    }
    .dropdown-menu {background-color: $navBG;}
  }
}

/******************************
 * Header
 ******************************/

$white: #ffffff;
$black: #3d3d3d;
$dark-grey: #8e8e8e;
$selection-color: rgba(255, 233, 0, 0.4);

$darkBlue: #2c3e50;
$linkHover: #ef4f59;

$text_light: #dadada;
$body_light: #dadada;
$splash_light: #313131;
$tableBorder: #dee2e6;

// DARK MODE
$text_dark: #313131;
$body_dark: #313131;
$splash_dark: #dadada;
$tableBorder-dark: #4e4e4e;

::selection {
  background-color: $selection-color;
}

header {
  position: relative;
  font-family: "Lato", sans-serif;
  text-align: center;
  height: 75vh;
  background-color: $splash_light;
  color: $text_light;
  transition: 0.3s;

  h1 {
    font-weight: 300;
    font-size: 4.5rem;
    margin-bottom: 1.7rem;
  }

  p.lead {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
  }

  hr {
    background: #e2e2e3;
  }

  .wave {
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 200px;
    background: url("../assets/img/wave_light.svg") left bottom/1000px repeat-x;
    transition: 0.3s;
  }

  .wave1 {opacity: 1; animation: slide 7.44s linear infinite;}
  .wave2 {opacity: 0.5; animation: slide 9.83s linear infinite;}
  .wave3 {opacity: 0.5; animation: slide 4.27s linear infinite}

  @keyframes slide {
    0% {background-position: 0 0;}
    50% {background-position: 500px -10px;}
    100% {background-position: 1000px 0;}
  }

}

@include respond-below(lg) {
  header {
    h1 {
      font-size: 4rem;
    }
  }
}

@include respond-below(md) {
  header {
    margin-bottom: 4rem;
    min-height: unset !important;
  }
}

/******************************
* Main
******************************/
body {
  background-color: $body_light;

  .row {
    margin-top: 2rem;

    .sidebar {
      padding: 2rem 5rem 0 1rem;

      h5 {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
      }

      #contents {
        position: sticky;
        top: 150px;
        font-size: 1.2rem;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        height: auto;

        li {
          margin: 15px 0;
          justify-content: left;
          list-style: none;
          display: flex;
          transform-origin: left;

          &:hover {
            color: $linkHover;
            transform: scale(1.3);
          }

          svg {
            margin-top: 8px;
            height: 7px;
          }
          a {
            margin-left: 10px;
            font-size: 1.1rem;
            position: relative;
            text-decoration: none;
            padding-bottom: 6px;
            color: black;

            &:hover {
              color: $linkHover;
            }

          }
        }
      }
    }
  }
}


@keyframes target-fade {
  0% {
    background-color: rgba(255, 255, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.content {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.75;
  word-spacing: 0.1rem;

  article {
    padding: calc(1rem + 1.2vw);
  }

  h1,
  h2,
  h3 {
    font-family: "Lato", sans-serif;
  }

  $h1size: 2.15; // rem

  h1,
  h2 {
    scroll-margin-top: 120px;
    .anchor {
      float: left;
      opacity: 0.01;
      background-image: url(../assets/icons/link-solid.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      overflow: visible;

      margin-left: $h1size * -0.7rem;
      border-right-width: 2px;
      height: $h1size * 0.5rem;
      width: $h1size * 0.5rem;

      filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(87%) contrast(84%);
      border: 0px transparent solid;
    }

    &:hover .anchor {
      opacity: 100;
    }
  }

  h1 {
    font-weight: 400;
    font-size: $h1size * 1rem;
    margin: 2rem 0 1rem 0;
    word-spacing: 0.3rem;
    color: $darkBlue;

    &:first-of-type {
      margin-top: 0;
    }

    button {
      font-weight: 400;
      margin-right: 25px;
    }

    .anchor {
      margin-top: $h1size * 0.27rem;
    }
  }

  h2 {
    font-size: $h1size * 0.8rem;
    word-spacing: 0.3rem;
    margin-top: 1.5rem;

    .anchor {
      margin-top: $h1size * 0.2rem;
    }
  }

  h3 {
    font-size: $h1size * 0.7rem;
    word-spacing: 0.3rem;
    margin-top: 1.5rem;
  }

  button.section {
    font-size: 2rem;
    color: #bdbdbd;
    padding: 0;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      text-decoration: none;
      color: #828282;
    }
  }

  p {
    color: black;
    text-align: justify;

    .MathJax_Display {
      overflow-x: auto;
      overflow-y: hidden;
    }

    span {
      scroll-margin-top: 200px;

      &:target {
        animation: target-fade 3s 1;
      }
    }
  }

  ul {
    padding-left: 25px;
  }

  mark {
    background: $selection-color;
  }

  .image {
    text-align: center;

    img {
      padding: 20px;
      width: 90%;
    }

    p {
      text-align: center;
      font-style: italic;
      color: $black;
    }
  }

  blockquote {
    font-size: 1.15em;
    width: 75%;
    margin: 50px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 0.7em 60px;
    border-left: 6px solid $linkHover;
    line-height: 1.6;
    position: relative;

    &:before {
      font-family: Arial;
      content: "\201C";
      color: $linkHover;
      font-size: 5rem;
      position: absolute;
      left: 10px;
      top: -20px;
    }

    &:after {
      content: "";
    }

    strong {
      display: block;
      color: #333333;
      font-style: normal;
      font-weight: bold;
      margin-top: 1em;
    }
  }
  table {
    border: 1px solid;
    border-color: $tableBorder;
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;

    thead {
      th,
      td {
        vertical-align: bottom;
        border-bottom: 2px solid;
        border-color: $tableBorder;
      }
    }

    tbody {
      th,
      td {
        border: 1px solid;
        border-color: $tableBorder;
      }
    }

    tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    th,
    td {
      padding: 0.75rem;
      vertical-align: center;
      border: 1px solid;
      border-color: $tableBorder;
    }

    a {
      color: $linkHover;

      &:hover {
        text-decoration: underline;
      }
    }

    caption {
      text-align: center;
      font-style: italic;
      margin-top: 15px;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      caption-side: bottom;
    }
  }

  span.in-text:hover {
    cursor: pointer;
  }

  a.citation {
    color: $dark-grey;
    scroll-margin-top: 200px;

    &:target {
      animation: target-fade 3s 1;
    }
  }

  dfn {
    border-bottom: 1px solid black;
    font-style: normal;
  }
}

.tooltip {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-left: 5px;
}

.content p,
#references li {
  a:not(.citation) {
    color: $black;
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $linkHover;
      height: 2px;
    }

    &:before {
      width: 0%;
      left: 0;
      bottom: 0;
    }

    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
    }

    &:hover {
      text-decoration: none;
      // color: $black;

      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
      }
    }
  }
}

#references {
  ol {
    padding-inline-start: 30px;
  }

  li {
    padding: 0 0 20px 10px;
    scroll-margin-top: 100px;

    &:target {
      animation: target-fade 3s 1;
    }
  }

  p {
    text-align: left;
    margin-bottom: 0.2rem;

    .journalTitle {
      font-style: italic;
    }
  }
  cite {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.75;
    word-spacing: 0.1rem;
    color: #3d3d3d;
  }
  a {
    margin-right: 15px;

    &:before,
    &:after {
      height: 2px !important;
    }
  }
}

footer {
  #footerNav {
    background-color: $linkHover;

    h1 {
      color: $black;
    }
    a {
      color: $black;
    }
  }
}

@include respond-below(xxl) {
  .content {
    h1 {
      font-size: 2.25rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@include respond-below(lg) {
  main {
    .content {
      article {
        padding: calc(1rem + 1.2vw)
      }
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.25rem;
      }
    }
  }
}

@include respond-below(md) {
  header {
    #heading {
      margin-left: 1.75rem;
    }
  }

  main {
    .sidebar {
      display: none;
    }

    .content {
      h1 {
        font-size: 1.75rem;
      }
    }
  }
}

@include respond-below(sm) {
  header {
    #heading {
      margin-left: calc(1.5rem + 0.2vw);
      margin-bottom: calc(1.5rem + 0.2vw);
      h1 {
        font-size: calc(3rem + 1.75vw);
      }
    }
    #bg-attribution {
      margin: 0 15px 15px 0;
    }
  }

  main {
    .content {
      padding-left: 0;
      padding-right: 0;

      article {
        padding: calc(1.5rem + 0.2vw);

        blockquote {
          width: 100%;
        }
      }
    }
  }
}

@include respond-below(xs) {
  main {
    padding: 0;

    .content {
      article {
        padding: calc(1.25rem + 0.2vw);
        padding-top: calc(1.75rem + 0.2vw);
      }

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.25rem;
      }

      h3 {
        font-size: 1.15rem;
      }
    }
  }

  header #heading {
    margin-left: calc(1.25rem + 0.2vw);
    margin-bottom: calc(1.5rem + 0.2vw);

    h1 {
      font-size: 4rem;
    }
  }
}

@include respond-below(xxs) {
  header #heading h1 {
    font-size: 3rem;
  }
}

@include respond-below(xxxs) {
  header #heading h1 {
    font-size: 2.5rem;
  }
}

/* DARK MODE */

body.dark {

  background-color: $body_dark;

  header {
    color: $text_dark;
    background-color: $splash_dark;

    .wave {
      background: url("../assets/img/wave_dark.svg") left bottom/1000px repeat-x;
    }
  }

  .sidebar {
    color: white;

    #contents li a {
      color: white;
    }
  }

  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    a,
    strong,
    p {
      color: white;
    }

    table {
      border-color: $tableBorder-dark;
      color: white;

      thead {
        th,
        td {
          border-color: $tableBorder-dark;
        }
      }

      tbody {
        th,
        td {
          border-color: $tableBorder-dark;
        }
      }

      th,
      td {
        border-color: $tableBorder-dark;
      }
    }
  }

  #references {
    cite,
    a {
      color: white;
    }
  }
}
