@import "_main.scss";

// LIGHT MODE

body {
  .info {
    background-color: darken($bg_light, 3);
    &::-webkit-scrollbar-thumb {background: darken($bg_light, 25%);}
  }

  .folder {.tab, .main {
    background-color: darken($bg_light, 20);
    h1 {color: lighten($item_light, 60);
    }
  }}

  .info, #references {

    p, h1, h2, h3, h4, h5, h6, li, strong {color: $item_light;}
    a {color: $highlight_light;}

    table {
      background: none;
      border-color: $tableborder_light;
      color: $item_light;
      thead {th, td {border-color: $tableborder_light;}}
      tbody {th, td {border-color: $tableborder_light;}}
      tbody tr:nth-of-type(odd) {background-color: #0000001a;}
      th, td {border-color: $tableborder_light;}
    }
    blockquote {
      border-color: $highlight_light;
      &:before {color: $highlight_light;}
    }
  }

  .content p, #references li {a:not(.citation) {&:before, &:after {background-color: $highlight_light;}}}

  #references {
    cite, a {color: $item_light;}
  }
}

// DARK MODE

body.dark {
  .info {
    background-color: lighten($bg_dark, 7);
    &::-webkit-scrollbar-thumb {background: lighten($bg_dark, 25%);}
  }

  .folder {.tab, .main {
    background-color: lighten($bg_dark, 20);
    h1 {color: darken($item_dark, 70);}
  }}

  .info, #references {
    p, h1, h2, h3, h4, h5, h6, li, a, strong {color: $item_dark;}
    a {color: $highlight_dark;}

    table {
      background: none;
      border-color: $tableborder_dark;
      color: $item_dark;
      thead {th, td {border-color: $tableborder_dark;}}
      tbody {th, td {border-color: $tableborder_dark;}}
      tbody tr:nth-of-type(odd) {background-color: #ffffff1a;}
      th, td {border-color: $tableborder_dark;}
    }
    blockquote {
      border-color: $highlight_dark;
      &:before {color: $highlight_dark;}
    }
  }

  .content p, #references li {a:not(.citation) {&:before, &:after {background-color: $highlight_dark;}}}

  #references {
    cite, a {color: $item_dark;}
  }
}

// HEADER
.title {
  margin: 2.5rem 0;
  text-align: center;
  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 800;
  }
}

// MAIN
body {
  transition: background-color 0.3s;
}

// BUILDINGS

.sectors {
  position: relative;
  height: 65vh; min-height: 50rem;
  margin-bottom: 1rem;
  .name {
    position: absolute;
    top: 22%;
    width: 20%;
    margin: 1rem 0;
    text-align: center;
    h2 {font-size: 1.5rem; font-weight: 800;}
  }

  .building {
    transition: background-image 0.3s;
    position: absolute;
    width: 20%; height: 22%;
    background: no-repeat bottom center/contain;
    border-radius: 1rem;
  }

  @for $i from 1 through 5 {
    $leftpos: percentage($i*0.20-0.20);
    .building#{$i} {
      left: $leftpos;
      background-image: url("../assets/img/HP--building#{$i}.png");
      &:hover {backdrop-filter: invert(10%);}
    }
    .building#{$i}.selected {background-image: url("../assets/img/HP--building#{$i}_selected.png");}
    .name#{$i} {left: $leftpos;}
  }

}

// INFO

.container {
  .folder, .info {
    position: absolute;
    left: 50%; top: 32%;
    transform: translateX(-50%);
    height: 30rem;
  }

  .folder {
    width: 80%;
    .tab {
      transition: background-color 0.3s;
      width: 15rem; height: 10%;
      border-radius: 1rem 1rem 0 0;
    }
    .main {
      transition: background-color 0.3s;
      height: 90%;
      padding: 0;
      border-radius: 0 1rem 1rem 1rem;
      text-align: center;
      h1 {
        position: absolute;
        top: 50%; transform: translateY(-50%);
        width: 100%;
        font-size: 4rem; font-weight: 800;
      }
    }
  }

  .info {
    transition: background-color 0.3s;
    z-index: 5;
    display: none;
    width: 70%;
    padding: 2rem;
    text-align: justify;
    overflow-y: scroll; overflow-y: overlay;
    &::-webkit-scrollbar {width: 0.75rem; border-radius: 0.5rem;}
    &::-webkit-scrollbar-thumb {border-radius: 0.5rem;}
    border-radius: 0.5rem;
  }
}

// STYLES

.info, #references {

  article {padding: 0 calc(1rem + 1.2vw);}

  h1, h2, h3, h4, h5, h6 {font-weight: 700;}

  h1, h2 {
    scroll-margin-top: 120px;
    .anchor {
      float: left;
      opacity: 0.01;
      background-image: url(../assets/icons/link-solid.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      overflow: visible;

      margin-left: $h1size * -0.7rem;
      border-right-width: 2px;
      height: $h1size * 0.5rem;
      width: $h1size * 0.5rem;

      filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(87%) contrast(84%);
      border: 0px transparent solid;
    }

    &:hover .anchor {opacity: 100;}
  }

  h1 {
    font-size: $h1size * 1rem;
    margin: 2rem 0 1rem 0;
    word-spacing: 0.3rem;

    &:first-of-type {margin-top: 0;}

    button {
      font-weight: 400;
      margin-right: 25px;
    }

    .anchor {margin-top: $h1size * 0.27rem;}
  }

  h2 {
    font-size: $h1size * 0.8rem;
    word-spacing: 0.3rem;
    margin-top: 1.5rem;

    .anchor {margin-top: $h1size * 0.2rem;}
  }

  h3 {
    font-size: $h1size * 0.7rem;
    word-spacing: 0.3rem;
    margin-top: 1.5rem;
  }

  button.section {
    font-size: 2rem;
    padding: 0;

    &:focus {box-shadow: none;}

    &:hover {
      text-decoration: none;
    }
  }

  p {
    text-align: justify;

    .MathJax_Display {
      overflow-x: auto;
      overflow-y: hidden;
    }

    span {
      scroll-margin-top: 200px;

      &:target {animation: target-fade 3s 1;}
    }
  }

  ul {padding-left: 25px;}

  .image {
    text-align: center;

    img {
      padding: 20px;
      width: 90%;
    }

    p {
      text-align: center;
      font-style: italic;
    }
  }

  .carousel {
    p {
      position: relative;
      top: 1rem;
      margin-bottom: 2rem;
      text-align: center;
      font-style: italic;
    }
  }

  blockquote {
    font-size: 1.15em;
    width: 75%;
    margin: 50px auto;
    font-style: italic;
    padding: 1.2em 30px 0.7em 60px;
    border-left: 6px solid;
    line-height: 1.6;
    position: relative;

    &:before {
      content: "\201C";
      font-size: 5rem;
      position: absolute;
      left: 10px;
      top: -20px;
    }

    &:after {content: "";}

    strong {
      display: block;
      font-style: normal;
      font-weight: bold;
      margin-top: 1em;
    }
  }
  table {
    border: 1px solid;
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;

    thead {
      th, td {
        vertical-align: bottom;
        border-bottom: 2px solid;
      }
    }

    tbody {th, td {border: 1px solid;}}

    th, td {
      padding: 0.75rem;
      vertical-align: center;
      border: 1px solid;
    }

    a {&:hover {text-decoration: underline;}}

    caption {
      text-align: center;
      font-style: italic;
      margin-top: 15px;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      caption-side: bottom;
    }
  }

  span.in-text:hover {cursor: pointer;}

  a.citation {
    scroll-margin-top: 200px;

    &:target {animation: target-fade 3s 1;}
  }

  dfn {font-style: normal;}
}

// REFERENCES

.content p, #references li {
  a:not(.citation) {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $highlight_light;
      height: 2px;
    }

    &:before {
      width: 0%;
      left: 0;
      bottom: 0;
    }

    &:after {
      width: 100%;
      left: 0;
      bottom: 0;
    }

    &:hover {
      text-decoration: none;

      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
      }
    }
  }
}

#references {
  position: relative;
  ol {padding-inline-start: 30px;}

  li {
    padding: 0 0 20px 10px;
    scroll-margin-top: 100px;

    &:target {animation: target-fade 3s 1;}
  }

  p {
    text-align: left;
    margin-bottom: 0.2rem;

    .journalTitle {font-style: italic;}
  }

  cite {
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.75;
    word-spacing: 0.1rem;
  }
  a {
    margin-right: 15px;
    &:before, &:after {height: 2px !important;}
  }
}

// MEDIA QUERIES

@include respond-below(md) {
  .title {h1 {font-size: 3rem;}}
  .sectors {
    position: relative;
    height: auto;

    .sector {
      margin: 2rem 0;

      .name {
        position: relative;
        left: 0; top: 0;
        width: 100%;
        text-align: center;
      }
      .building {
        position: relative;
        left: 0;
        width: 100%; height: 30vh;
      }
    
      .info {
        position: relative;
        left: 0; top: 1rem;
        transform: none;
        width: 100%; height: auto; max-height: 40vh;
      }
    }

    .folder {display: none;}

  }
}

@include respond-below(xs) {
  .title {h1 {font-size: 2rem;}}
}