@import "_main.scss";

$bg_light: #dadada;
$bg_dark: #313131;

body {
  background-color: $bg_light;
  scroll-behavior: smooth;
}

/******************************
 * Parallax
******************************/

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax_group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Layers
// calculate scale factor with 1 + (translateZ * -1) / perspective

.parallax_layer--fore {
  transform: translateZ(90px);
}

.parallax_layer--base {
  transform: translateZ(0);
}

.parallax_layer--back {
  transform: translateZ(-300px);
}

// Backgrounds

#group2 .parallax_layer--fore {background: rgba(0, 4, 255, 0.288);}

#group1 .parallax_layer--base {background: rgba(255, 0, 0, 0.288);}
#group2 .parallax_layer--base {background: rgba(0, 4, 255, 0.288);}

#group1 .parallax_layer--back {background: red;}
#group2 .parallax_layer--back {background: rgb(202, 0, 0);}

.title {
  text-align: center;
}

/******************************
 * Header


header {
  scroll-snap-align: start;
  position: relative;
  height: 90vh;
  text-align: center; 
  perspective: 100px;

  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 4.5rem;
  }
}

@include respond-below(lg) {
  header {
    h1 {
      font-size: 4rem;
    }
  }
}

@include respond-below(md) {
  header {
    h1 {
      font-size: 3.5rem;
    }
  }
}
 ******************************/

/******************************
* Article


article {
  font-family: "Lato", sans-serif;

  h1 {
    font-size: 2.5rem;
    color: $darkBlue;
    margin: 1.5rem 0 1rem 0;
  }

  h2 {
    margin: 1.5rem 0 1rem 0;
  }

  h3 {
    margin: 1.5rem 0 0.7rem 0;
  }

  p {
    font-size: 1.1rem;
  }

  li {
    margin-left: 1rem;
  }

  .col {
    padding: 1.5rem;
  }

  .card {
    margin: 0 0 1.5rem 0;
  }
  .card-img-top {
    img {
      width: 100%;
    }
  }

  p.card-text {
    font-size: 1rem;
  }

  .page {
    position: relative;
    height: 90vh;
    text-align: center;
    padding: 9rem 4rem 4rem 4rem;
  }
  #design {background: none;}
  #model {background: none;}
  #hp {background: none;}
}
******************************/

// DARK MODE
body.dark {
  background-color: $bg_dark;

  header {
    
    hr {
      background-color: rgb(90, 90, 90);
    }

    button {
      background: $navBG-dark;
    }
  }
}