@import "_main.scss";

// VALUES

$groups: 5;
$reefs: $groups - 1;
$light_filter: 1.66;
$dark_filter: 0.21;

// LIGHT MODE

body {

  .parallax {
    &::-webkit-scrollbar {background-color: $bg_light;}
    &::-webkit-scrollbar-thumb {background-color: $item_light;}
  }

  #group0 {
    background: $sky_light;
    .logo {background-image: url("../assets/img/Home--project_dark.png");}
    .waveblock{background: $bg_light;}
  }

  $gradient: 0;
  @for $i from 1 through $groups {
    #group#{$i} .main {background: darken($bg_light, $gradient);}
    $gradient: $gradient + 50/$groups;
  }

  $reef: $light_filter;
  @for $i from 1 through $reefs {
    .reef#{$i} {filter: brightness($reef);}
    $reef: $reef - 1/$groups;
  }
}

// DARK MODE

body.dark {

  .parallax {
    &::-webkit-scrollbar {background-color: $bg_dark;}
    &::-webkit-scrollbar-thumb {background-color: $item_dark;}
  }

  #group0 {
    background: $sky_dark;
    .logo {background-image: url("../assets/img/Home--project_light.png");}
    .waveblock{background: $bg_dark;}
  }
  $gradient: 0;
  @for $i from 1 through $groups {
    #group#{$i} .main {background: lighten($bg_dark, $gradient);}
    $gradient: $gradient + 20/$groups;
  }

  $reef: $dark_filter;
  @for $i from 1 through $reefs {
    .reef#{$i} {filter: brightness($reef);}
    $reef: $reef + 0.4/$groups;
  }
}

// MAIN

// PARALLAX
// Because of the way 3D parallaxing works, the layering is a bit finnicky and have to be manually adjusted
// A layer can't be present in two consecutive layers, otherwise there will be clipping issues

.parallax {
  position: absolute; top: calc(5rem + 2px);
  height: calc(100vh - 5rem - 18px); width: 100%;
  perspective: 100px;
  overflow-x: hidden; overflow-y: auto;

  .parallax_group {
    position: relative;
    height: calc(100vh - 5rem - 18px);
    transform-style: preserve-3d;

    .parallax_layer {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }
}

// LAYERS & TRANSFORMATIONS
// calculate scale factor with 1 + (translateZ * -1) / perspective

.parallax_layer-fore {
  -webkit-transform: translateZ(50px) scale(0.51); /* WebKit */
  -moz-transform: translateZ(50px) scale(0.51); /* Mozilla */
  -o-transform: translateZ(50px) scale(0.51); /* Opera */
  -ms-transform: translateZ(50px) scale(0.51); /* Internet Explorer */
  transform: translateZ(50px) scale(0.51);
}
.parallax_layer-base {
  -webkit-transform: translateZ(0) scale(1); /* WebKit */
  -moz-transform: translateZ(0) scale(1); /* Mozilla */
  -o-transform: translateZ(0) scale(1); /* Opera */
  -ms-transform: translateZ(0) scale(1); /* Internet Explorer */
  transform: translateZ(0) scale(1);
}
.parallax_layer-mid {
  -webkit-transform: translateZ(25px) scale(0.76); /* WebKit */
  -moz-transform: translateZ(25px) scale(0.76); /* Mozilla */
  -o-transform: translateZ(25px) scale(0.76); /* Opera */
  -ms-transform: translateZ(25px) scale(0.76); /* Internet Explorer */
  transform: translateZ(25px) scale(0.76);
}
.parallax_layer-back {
  -webkit-transform: translateZ(-50px) scale(1.51); /* WebKit */
  -moz-transform: translateZ(-50px) scale(1.51); /* Mozilla */
  -o-transform: translateZ(-50px) scale(1.51); /* Opera */
  -ms-transform: translateZ(-50px) scale(1.51); /* Internet Explorer */
  transform: translateZ(-50px) scale(1.51);
}

// HEADER

#group0 {
  
  .logo {
    height: 100%; width: 100%;
    background: no-repeat center/auto 60%;
  }

  .wave {bottom: 10vh;}
  .waveblock {
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 10vh;
  }
}

// CONTENT

.content {
  z-index: 1;
  position: absolute;
  width: 80%; max-width: 60rem;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {font-weight: 800;}
  p {text-align: justify;}
  svg {font-size: 10rem;}
}

.reef {
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
}

// INDICES
// groups must be indiced sequentially in a overlapping way, so 5, 3, 4, 2 etc.

#group1 {z-index: 5;}
#group2 {z-index: 3;}
#group3 {z-index: 4;}
#group4 {z-index: 2;}
#group5 {z-index: 3;}

// MEDIA QUERIES