@import "_main.scss";

// VALUES

$groups: 5;
$reefs: $groups - 1;
$light_filter: 1.66;
$dark_filter: 0.21;
$title_light: "../assets/img/Home--title_light.png";
$title_dark: "../assets/img/Home--title_dark.png";

// LIGHT MODE

body {

  .parallax {
    &::-webkit-scrollbar {background-color: $bg_light;}
    &::-webkit-scrollbar-thumb {background-color: $item_light;}
  }

  #awards {background-color: $bg_light;}

  #group0 {
    background-image: url($title_light);
    .logo {background-image: url("../assets/img/Home--project_dark.png");}
    .waveblock{background: $bg_light;}
  }

  $gradient: 0;
  @for $i from 1 through $groups {
    #group#{$i} .parallax_layer-main {background: darken($bg_light, $gradient);}
    $gradient: $gradient + 50/$groups;
    #group#{$i} .reefblock {background: darken($bg_light, $gradient);}
  }

  $reef: $light_filter;
  @for $i from 1 through $reefs {
    #group#{$i} .reef {filter: brightness($reef);}
    $reef: $reef - 1/$groups;
  }

  .reef.bottom {filter: brightness(0.13);}

  #group3 {h1, a {color: #3fa899;}}

}

// DARK MODE

body.dark {

  .parallax {
    &::-webkit-scrollbar {background-color: $bg_dark;}
    &::-webkit-scrollbar-thumb {background-color: $item_dark;}
  }

  #awards {background-color: $bg_dark;}

  #group0 {
    background-image: url($title_dark);
    .logo {background-image: url("../assets/img/Home--project_light.png");}
    .waveblock{background: $bg_dark;}
  }

  $gradient: 0;
  @for $i from 1 through $groups {
    #group#{$i} .parallax_layer-main {background: lighten($bg_dark, $gradient);}
    $gradient: $gradient + 20/$groups;
    #group#{$i} .reefblock {background: lighten($bg_dark, $gradient);}
  }

  $reef: $dark_filter;
  @for $i from 1 through $reefs {
    #group#{$i} .reef {filter: brightness($reef);}
    $reef: $reef + 0.4/$groups;
  }

  .reef.bottom {filter: brightness(1.87);}

  #group3 {h1, a {color: #76dbccff;}}

}

// MAIN

// PARALLAX
// Because of the way 3D parallaxing works, the layering is a bit finnicky and have to be manually adjusted
// A layer can't be present in two consecutive layers, otherwise there will be clipping issues

.parallax {
  position: absolute; top: calc(5rem + 2px);
  height: calc(100vh - 5rem - 18px); width: 100%;
  perspective: 100px;
  overflow-x: hidden; overflow-y: auto;

  .parallax_group {
    position: relative;
    height: 85vh;
    transform-style: preserve-3d;

    .parallax_layer {
      transition: background-color 0.3s;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }
}

// TITLE

#group0 {
  transition: background-image 0.3s;
  height: calc(100vh - 5rem - 18px);
  text-align: center;
  background: fixed no-repeat center/cover;

  .logo {
    transition: background-image 0.3s;
    height: 100%; width: 100%;
    background: no-repeat center 25%/auto 60%;
  }
  h2 {
    position: absolute;
    width: 80%;
    left: 50%; transform: translateX(-50%);
    bottom: 18vh;
    font-weight: 100; font-size: 2rem;
  }
  .wave {bottom: 10vh;}
  .waveblock {
    transition: background-color 0.3s;
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 10vh;
  }
}

// MAIN
.parallax_layer.parallax_layer-main {
  .content {
    position: absolute;
    left: 50%; top: 30%;
    transform: translate(-50%, -50%);
    width: 80%; max-width: 40rem;
    text-align: center;
    h1 {
      font-weight: 800;
      margin-bottom: 2.5rem;
    }
    p {text-align: justify;}
    .video_wrapper {
      position: relative;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
      }
    }
  }
}

#awards {
  transition: background-color 0.3s;
  height: 30vh;
  z-index: 10;
  .content {
    bottom: 5vh;
    h2 {font-weight: 700; color: $highlight_light;}
    h3 {font-size: 1.25rem;}
  }
}

#awards, #group2, #group4 {h1, a {color: $highlight_light;}}
#group1, #group3, #group5 {h1, a {color: #76dbccff;}}

// REEF
.parallax_layer-reef {
  pointer-events: none;
  transform: translateZ(30px) scale(0.71);
}
.reef {
  transition: filter 0.3s;
  pointer-events: none;
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
}
.reefblock {
  transition: background-color 0.3s;
  position: absolute;
  left: 0; bottom: -100%;
  height: 100%; width: 100%;
}

//FORE
.parallax_layer-fore {
  pointer-events: none;
  transform: translateZ(55px) scale(0.46);
}
.fore {
  pointer-events: none;
  position: absolute;
  left: 0; bottom: 25%;
  width: 100%;
}

// INDICES & TRANSFORMATIONS
// calculate scale factor with 1 + (translateZ * -1) / perspective

@for $i from 1 through $groups {
  #group#{$i} .parallax_layer-main {z-index: #{$i};}
  #group#{$i} .parallax_layer-reef {z-index: #{$i+1};}
  #group#{$i} .parallax_layer-fore {z-index: #{$i+2};}
}

// MEDIA QUERIES
@include respond-below(lg) {
  #awards {height: 30vh;}
  #group0 {.logo {background: no-repeat center 25%/auto 55%;}}
  .parallax {
    perspective: none;
    .parallax_layer-main {
      .content {
        top: 40%; transform: translate(-50%, -50%);
      }
    }
    .parallax_layer-reef, .parallax_layer-fore {
      transform: none;
      .reefblock {display: none;}
      .fore {bottom: 0;}
    }
  }
}

@include respond-below(md) {
  #awards {height: 15vh;}
  .parallax {
    .parallax_layer-main {
      .content {
        h1 {font-size: 2rem;}
        h2 {font-size: 1.8rem;}
        h3 {font-size: 1.2rem;}
        p {font-size: 0.9rem;}
      }
    }
  }
}

@include respond-below(xs) {
  #awards {height: 70vh;}
  #group0 {
    h2 {font-size: 1.2rem;}
    h3 {font-size: 1.1rem;}
  }
}