@import "_main.scss";

// LIGHT MODE

body {
  header {background: $sky_light;}
  .info {
    &::-webkit-scrollbar-thumb {background: darken($bg_light, 25%);}
  }
}

// DARK MODE

body.dark {
  header {background: $sky_dark;}
  .info {
    &::-webkit-scrollbar-thumb {background: lighten($bg_dark, 25%);}
  }
}

// HEADER

header {
  position: relative;
  padding: 10rem 0 0 0;
}

// GROUP PHOTO
.group {
  margin: 2rem 0;
  width: 100%; max-width: 55rem;
  animation: sub_swim 20s linear infinite;
}

@keyframes sub_swim {
  0%    {transform: translate(-1%) rotate(-1deg);}
  25%   {transform: translate(1%)  rotate(-1deg);}
  50%   {transform: translate(-1%) rotate(1deg);}
  75%   {transform: translate(1%)  rotate(1deg);}
  100%  {transform: translate(-1%) rotate(-1deg);}
}

// MAIN

body {

  main {
    text-align: center;

    .title {
      h1 {
        margin: 2.5rem 0;
        font-size: 4rem;
        font-weight: 800;
      }
    }
    
    h5 {font-weight: 800;}
    h6 {
      margin-bottom: 2rem;
      font-weight: 700;
    }

    .card {
      display: inline-block;
      width: 15rem; height: 20rem;
      margin: 0.5rem; padding: 1rem;
      background: none;
      overflow: hidden;
      border: none; border-radius: 40px;

      .card-title {margin-top: 2rem;}

      .avatar {
        position: absolute;
        width: 13rem; height: 18rem;
        opacity: 1;
        img {max-width: 100%;}
      }

      .info {
        position: absolute;
        width: 14rem; height: 18rem;
        padding-right: 0.5rem;
        opacity: 0;
        overflow-y: scroll;
        &::-webkit-scrollbar {width: 0.5rem; border-radius: 0.25rem;}
        &::-webkit-scrollbar-thumb {border-radius: 0.25rem;}
        img {max-width: 100%; border-radius: 50%;}
        p {font-size: 0.9rem; text-align: justify;}
      }
      
      &:hover {
        backdrop-filter: invert(10%);
        .avatar {opacity: 0;}
        .info {opacity: 1;}
      }
    }
  }
}

// RANDOMIZE FLOATING ANIMATION
@keyframes floating {
  0% {transform: translateY(0) rotate(0deg);}
  25% {transform: translateY(0.5rem) rotate(3deg)}
  50% {transform: translateY(1rem) rotate(0deg);}
  75% {transform: translateY(0.5rem) rotate(-3deg)}
  100% {transform: translateY(0) rotate(0deg);}
}
@for $i from 0 through 11 {
  $randomspeed: random(5)+2;
  .card#{$i} .avatar img {
    animation: floating $randomspeed+s linear infinite;
  }
}