@import "_main.scss";

//TODO: click to show bio instead of hover

$item_light: #1f1f1f;
$bg_light: #dadada;
$title_light: #a1a1a1;

$item_dark: #dadada;
$bg_dark: #1f1f1f;
$title_dark: #5c5c5c;

// HEADER

header {
  position: relative;
  padding: 10rem 0 0 0;
  background: $title_light;
}

// MAIN

body {
  color: $item_light;
  background-color: $bg_light;

  main {
    text-align: center;

    h1 {margin: 2.5rem 0;}

    .card {
      display: inline-block;
      width: 15rem;
      margin: 1rem; padding: 1rem;
      background: none;
      border: none; border-radius: 40px;

      &:hover{backdrop-filter: invert(10%);}

      .card-title {margin-top: 2rem;}

      img {max-width: 70%;}

      .info {
        display: none;
        padding: 0 0.5rem;
        overflow: hidden;

        p {margin-top: 1rem;}

        img {
          max-width: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}

// RANDOMIZE FLOATING ANIMATION
@keyframes floating {
  0% {transform: translateY(0) rotate(0deg);}
  25% {transform: translateY(0.5rem) rotate(3deg)}
  50% {transform: translateY(1rem) rotate(0deg);}
  75% {transform: translateY(0.5rem) rotate(-3deg)}
  100% {transform: translateY(0) rotate(0deg);}
}
@for $i from 0 through 11 {
  $randomspeed: random(5)+2;
  .card#{$i} img {
    animation: floating $randomspeed+s linear infinite;
  }
}

// DARK MODE

body.dark {

  header {
    background: $title_dark;
    .wave {background: url("../assets/img/wave_dark.svg") left bottom/1000px repeat-x;}
  }

  color: $item_dark;
  background-color: $bg_dark;
}