include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Stockholm
  body
    include templates/nav.pug
    .parallax
      .parallax_group#group0
        .logo
        h2 A modular biosensor for the detection of POPs in water
        .wave.wave1
        .wave.wave2
        .wave.wave3
        .waveblock
      .parallax_group#group1
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # The Problem
              After centuries spent using oceans for waste management, we’ve finally realized the
              impact of water pollution. Persistent Organic Pollutants (POPs), including PFOS
              (Perfluorooctanesulfonic acid) and PCBs (polychlorinated biphenyls), have been of
              great concern, due to their toxicity in low concentrations and bioaccumulating
              properties that lead to alarming concentrations in the ecosystem.
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef1.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
      .parallax_group#group2
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Our Project
              Current detection methods, which are performed by analyzing massive amounts of water
              samples in the lab, cannot properly measure the low levels of POPs nor differentiate
              between the various iterations that exist.  Our project S-POP aims to solve this issue
              by creating a monitor containing two major parts, a modular E. coli biosensor coupled
              with a Microbial Fuel Cell.
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef2.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
      .parallax_group#group3
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Design
              When E. coli is activated by the pollutant Quorum sensing (QS) molecule is produced.
              Upregulated by the QS-molecule, engineered Shewanella oneidensis produces an oscillating
              electrical signal that corresponds to the type and quantity of pollutants in the sample.
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef3.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
      .parallax_group#group4
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Human Practices
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef4.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
      .parallax_group#group5
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Project Promotion Video
        .parallax_layer.parallax_layer-fore
      include templates/footer.pug
