include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Stockholm
  body
    include templates/nav.pug
    .parallax
      .parallax_group#group1
        .parallax_layer.parallax_layer--base
          .title
            h1 Group 1 base
        .parallax_layer.parallax_layer--back
          .title
            h1 Group 1 background
      .parallax_group#group2
        .parallax_layer.parallax_layer--fore
          .title
            h1 Group 2 foreground
        .parallax_layer.parallax_layer--base
          .title
            h1 Group 2 base
        .parallax_layer.parallax_layer--back
          .title
            h1 Group 2 background
      include templates/footer.pug
