include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Stockholm
  body
    include templates/nav.pug
    .parallax
      .parallax_group#group0
        .parallax_layer.parallax_layer-back
          .content
        .wave.wave1
        .wave.wave2
        .wave.wave3
        .waveblock
      .parallax_group#group1
        .parallax_layer.parallax_layer-fore.deco
        .parallax_layer.parallax_layer-base.main
          .content
            h1 Group 1 base
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            i.fas.fa-palette
          img(src=require('./assets/img/Home--reef1.png')['default']).reef.reef1
      .parallax_group#group2
        .parallax_layer.parallax_layer-mid.deco
        .parallax_layer.parallax_layer-back.main
          .content
            h1 Group 2 mid
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          img(src=require('./assets/img/Home--reef2.png')['default']).reef.reef2
      .parallax_group#group3
        .parallax_layer.parallax_layer-fore.deco
        .parallax_layer.parallax_layer-base.main
          .content
            h1 Group 3 base
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            i.fas.fa-globe-europe
          img(src=require('./assets/img/Home--reef3.png')['default']).reef.reef3
      .parallax_group#group4
        .parallax_layer.parallax_layer-mid.deco
        .parallax_layer.parallax_layer-back.main
          .content
            h1 Group 4 mid
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          img(src=require('./assets/img/Home--reef4.png')['default']).reef.reef4
      .parallax_group#group5
        .parallax_layer.parallax_layer-fore.deco
        .parallax_layer.parallax_layer-base.main
          .content
            h1 Group 5 base
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            i.fas.fa-tools
      include templates/footer.pug
